/* 기본글자의 스타일은 모든 태그를 감싸는 html body에 선언 */
html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0; /* 자간 */
    line-height: 1.2; /* 행간 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 강제로 줄바꿈 실행 (모바일에서 가로스크롤바가 생기는 것을 방지) */
}
/* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을 때 배경이 잘리는 현상 방지 */
#wrap {
    min-width: 1260px;
    overflow: hidden;
}
/* 홈페이지의 넓이를 제한하고 가운데 정렬 */
.wrapper {
    width: 1260px; /* 좌우에 20px 여백을 줌(1260+40)*/
    margin: 0 auto; /* 좌우 가운데 정렬 */
}
@media screen and (max-width:1300px){ 
    #wrap {
        min-width: 1300px; /* wrapper의 사이즈(1260px)에 좌우 20px씩 추가한 사이즈 */
    }    
    .wrapper {
        /* 넓이는 1260px 유지 */
        margin: 0 20px; /* 좌우에 20px 여백 */
    }
} /* media */
@media screen and (max-width:640px){ /* 모바일 반응형 */
    html, body {
        font-size: 13px;
    }
    #wrap {
        min-width: 100%;
    }
    .wrapper {
        width: auto;
    }
} /* media */