@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    color: #fff;
}
header .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    width: 231px;
    height: 47px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/logo2.svg);
    content: "";
}
@media screen and  (min-width:1025px) { /* 1025px 이상일 때 - pc버전 메뉴 */
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /* 모바일에서만 나옴 */
    }
    header .gnb .gnb_wrap .depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* 2차 메뉴 정렬의 중심 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        padding: 0 20px;
        line-height: 100px; /* header의 높이와 동일하게 행간을 줌 -> 위아래 가운데 글자가 위치하게 됨 (하위메뉴와 정확한 위치 조정을 하기 위함) */
        display: block;
        font-family: 'KBO-Dia-Gothic';
        font-weight: 300;
        font-size: 20px;
        position: relative;
    }
    /* has 가상선택자는 하위요소 중에서 depth2라는 클래스 명을 갖은 요소가 있는지 계산
       브라우저 높은 버전만 지원 - 하위 브라우저에서는 구현되지 않음 -- 기능상의 문제는 없음 */
    header .gnb .gnb_wrap ul.depth1 > li:has(.depth2) > a::after {
        position: absolute;
        right: 5px;
        top: 47px;
        width: 11px;
        height: 6px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.333' height='5.536' viewBox='0 0 9.333 5.536'%3E%3Cpath id='keyboard_arrow_down_24dp_FILL0_wght300_GRAD0_opsz24' d='M258.517-620.614l-4.667-4.667.87-.87,3.8,3.8,3.8-3.8.87.87Z' transform='translate(-253.85 626.15)' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        position: absolute;
        left: 50%; /* li를 기준으로해서 가운데(left:50%)에서 오른쪽으로 늘어남 */
        top: 100px;
        padding: 0 0 10px 0; /* 상단 */
        transform: translate(-50%, 0); /* ul의 길이만큼 왼쪽으로 절반만 이동 */
    }
    /* header .gnb .gnb_wrap ul.depth2 > li {
        backdrop-filter: blur(20px) brightness(0.8);
    } */
    header .gnb .gnb_wrap ul.depth2::before {
        position: absolute;
        left: 0;
        top: 0; /* 상단 padding */
        z-index: -1;
        width: 100%;
        height: 100%; /* calc 100% - 상단 padding */
        backdrop-filter: blur(20px) brightness(0.8);
        border-radius: 10px;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        color: #fff;
        white-space: nowrap; /* 줄바꿈 금지 */
        line-height: 2;
        padding: 0 17px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
    }
    /* 1차 메뉴에 오버했을 때 하위 메뉴가 나타나는 스타일 */
    header .gnb .gnb_wrap ul.depth1 > li.on:has(.depth2) > a::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.333' height='5.536' viewBox='0 0 9.333 5.536'%3E%3Cpath id='keyboard_arrow_down_24dp_FILL0_wght300_GRAD0_opsz24' d='M258.517-620.614l-4.667-4.667.87-.87,3.8,3.8,3.8-3.8.87.87Z' transform='translate(263.183 -620.614) rotate(-180)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > ul.depth2 {
        display: block;
    }
}
header .tnb {
    display: flex;
    gap: 10px;
}
header .tnb .search {
    width: 120px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 17px; /* 좌우 라운드를 많이 줄 때는 높이의 절반 */
}
header .tnb .btn_open {
    display: none;
}
header .tnb .search .search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 15px 0 15px;
}
header .tnb .search .search_box label {
    display: none;
}
header .tnb .search .search_box input[type="text"] {
    width: calc(100% - 5px);
    height: 23px;
    border: 0;
    background-color: transparent;
    outline: 0; /* focus되었을 때 테두리 */
}
header .tnb .search .search_box input[type="text"]::placeholder {
    color: rgba(225, 225, 225, 0.6);
}
header .tnb .search .search_box input[type="submit"] {
    width: 15px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    /* 종료태그가 없는 input은 before/after 안됨 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.637' height='10.637' viewBox='0 0 10.637 10.637'%3E%3Cpath id='search_24dp_FILL0_wght300_GRAD0_opsz24' d='M146.145-813.973l-3.886-3.886a3.54,3.54,0,0,1-1.067.6,3.668,3.668,0,0,1-1.248.216,3.653,3.653,0,0,1-2.685-1.1,3.651,3.651,0,0,1-1.1-2.684,3.655,3.655,0,0,1,1.1-2.685,3.65,3.65,0,0,1,2.684-1.1,3.654,3.654,0,0,1,2.685,1.1,3.651,3.651,0,0,1,1.1,2.685,3.63,3.63,0,0,1-.222,1.266,3.539,3.539,0,0,1-.594,1.049l3.886,3.886Zm-6.2-4a2.756,2.756,0,0,0,2.026-.83,2.756,2.756,0,0,0,.83-2.026,2.756,2.756,0,0,0-.83-2.026,2.756,2.756,0,0,0-2.026-.83,2.756,2.756,0,0,0-2.026.83,2.756,2.756,0,0,0-.83,2.026,2.756,2.756,0,0,0,.83,2.026A2.756,2.756,0,0,0,139.944-817.971Z' transform='translate(-136.16 824.61)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
header .tnb .link a {
    width: 92px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 17px;
    display: block;
    padding: 7px 0 0 15px;
    position: relative;
}
header .tnb .link a::after {
    position: absolute;
    right: 15px;
    top: 9px;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.833' height='13.833' viewBox='0 0 13.833 13.833'%3E%3Cpath id='open_in_new_24dp_FILL0_wght300_GRAD0_opsz24' d='M141.471-806.167a1.42,1.42,0,0,1-1.044-.427,1.42,1.42,0,0,1-.427-1.044v-10.891a1.42,1.42,0,0,1,.427-1.044,1.42,1.42,0,0,1,1.044-.427H146.6v1.22h-5.133a.239.239,0,0,0-.172.078.239.239,0,0,0-.078.172v10.891a.239.239,0,0,0,.078.172.239.239,0,0,0,.172.078h10.891a.239.239,0,0,0,.172-.078.239.239,0,0,0,.078-.172v-5.133h1.221v5.133a1.42,1.42,0,0,1-.427,1.044,1.42,1.42,0,0,1-1.044.427Zm3.59-4.2-.857-.858,7.552-7.552h-3.211V-820h5.289v5.289h-1.221v-3.211Z' transform='translate(-140 820)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
header .tnb .link a:hover {
    background-color: #fff;
    color: #1d1d1d;
}
header .tnb .link a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.833' height='13.833' viewBox='0 0 13.833 13.833'%3E%3Cpath id='open_in_new_24dp_FILL0_wght300_GRAD0_opsz24' d='M141.471-806.167a1.42,1.42,0,0,1-1.044-.427,1.42,1.42,0,0,1-.427-1.044v-10.891a1.42,1.42,0,0,1,.427-1.044,1.42,1.42,0,0,1,1.044-.427H146.6v1.22h-5.133a.239.239,0,0,0-.172.078.239.239,0,0,0-.078.172v10.891a.239.239,0,0,0,.078.172.239.239,0,0,0,.172.078h10.891a.239.239,0,0,0,.172-.078.239.239,0,0,0,.078-.172v-5.133h1.221v5.133a1.42,1.42,0,0,1-.427,1.044,1.42,1.42,0,0,1-1.044.427Zm3.59-4.2-.857-.858,7.552-7.552h-3.211V-820h5.289v5.289h-1.221v-3.211Z' transform='translate(-140 820)' fill='%231d1d1d' opacity='0.8'/%3E%3C/svg%3E%0A");
}
/* header가 상단에 고정되었을 때 */
header.fixed,
header.menu_over {
    position: fixed;
}
header.fixed::before,
header.menu_over::before {
    position: absolute; /* header를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1; /* 맨 아래로 이동 - position을 갖지 않은 요소보다 아래 */
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px) brightness(0.8);
    content: "";
}
@media screen and (max-width:1300px){ /* 1300px 이하 */
    header .logo a {
        width: 200px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        display: block;
        position: relative;
    }
}
@media screen and (max-width:1024px){ /* 1024px 이하 */
    /* 모바일 스타일 */
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: 110;
        width: 100%;
        height: 100vh; /* vh: 브라우저 높이를 100으로 보는 단위(감싸는 요소의 넓이는 고려하지 않음) */
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 85px 20px 20px 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: 'KBO-Dia-Gothic';
        font-weight: 500;
        font-size: 20px;
        line-height: 2;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth2 {
        background-color: #f2f2f2;
        padding: 15px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        line-height: 2;
        color: #1d1d1d;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        display: block;
        width: 50px; 
        height: 100%; /* header 높이만큼 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 120;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9.943' viewBox='0 0 15 9.943'%3E%3Cpath id='menu_24dp_FILL0_wght300_GRAD0_opsz24' d='M140-695.437v-1.324h15v1.324Zm0-4.31v-1.323h15v1.323Zm0-4.31v-1.323h15v1.323Z' transform='translate(-140 705.38)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_close::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath id='close_24dp_FILL0_wght300_GRAD0_opsz24' d='M215.038-731.15l-1.188-1.188,6.312-6.312-6.312-6.312,1.188-1.188,6.312,6.312,6.312-6.312,1.188,1.188-6.312,6.312,6.312,6.312-1.188,1.188-6.312-6.312Z' transform='translate(-213.85 746.15)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
        width: 15px;
    }
    header .tnb { 
        margin-right: 30px;
    }
    header .gnb .gnb_close {
        display: none;
    }
    /* 메뉴가 열렸을 때 */
    header.mobile_open .gnb .gnb_wrap {
        display: block;
    }
    header.mobile_open .gnb .gnb_close {
        display: block;
    }
    header.mobile_open .gnb .gnb_open {
        display: none;
    }
}
@media screen and (max-width:768px){
    header .wrapper {
        height: 50px;
    }
    header .logo a {
        width: 101px;
        height: 18px;
    }
    header .tnb .btn_open {
        display: block;
        width: 15px;
        height: 15px;
        font-size: 0;
        line-height: 0;
        position: relative;
    }
    header .tnb .btn_open::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='14.988' viewBox='0 0 15 14.988'%3E%3Cpath id='search_24dp_FILL0_wght300_GRAD0_opsz24' d='M150.241-809.621l-5.48-5.477a5,5,0,0,1-1.505.847,5.181,5.181,0,0,1-1.76.3,5.153,5.153,0,0,1-3.786-1.549,5.14,5.14,0,0,1-1.549-3.781,5.149,5.149,0,0,1,1.549-3.784,5.151,5.151,0,0,1,3.785-1.549,5.159,5.159,0,0,1,3.787,1.548,5.145,5.145,0,0,1,1.55,3.783,5.108,5.108,0,0,1-.314,1.784,4.984,4.984,0,0,1-.837,1.479l5.48,5.476Zm-8.745-5.633a3.886,3.886,0,0,0,2.857-1.17,3.883,3.883,0,0,0,1.17-2.854,3.877,3.877,0,0,0-1.17-2.854,3.886,3.886,0,0,0-2.857-1.17,3.885,3.885,0,0,0-2.856,1.17,3.876,3.876,0,0,0-1.171,2.854,3.882,3.882,0,0,0,1.171,2.854A3.885,3.885,0,0,0,141.5-815.254Z' transform='translate(-136.16 824.609)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .search {
        display: none;
    }
    header .tnb .link { 
        display: none;
    }
    header .gnb .gnb_open::before {
        width: 15px;
        height: 10px;
    }
    header .tnb { 
        margin-right: 20px;
    }
}

.visual {
    position: relative; /* slogan 정렬의 기준 */
}
.visual h2 {
    display: none;
}
.visual ul li {
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
} 
.visual ul li.bg1 {
    background-image: url(../images/visual01.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual02.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual03.png);
}
.visual ul li p {
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 75px;
    margin: 533px 0 0 0;
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%; /* 정렬의 기준인 swiper 넓이의 왼쪽 절반부터 시작 */
    transform: translate(-50%, 0); /* btn_wrap 넓이의 절반을 왼쪽으로 이동 */
    bottom: 15px;
    z-index: 10;
    display: flex;
    gap: 5px;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 25px;
    height: 25px;
    position: relative; /* before 정렬의 기준 */
}
.visual .btn_wrap button::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%; /* 감싸는 button을 기준으로 */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='arrow_circle_left_24dp_FILL0_wght300_GRAD0_opsz24' d='M112.5-842.705l1.374-1.374-2.434-2.434h5.994v-1.974H111.44l2.434-2.435-1.374-1.374-4.8,4.795Zm0,7.705a12.176,12.176,0,0,1-4.875-.984,12.623,12.623,0,0,1-3.97-2.671,12.627,12.627,0,0,1-2.673-3.968A12.166,12.166,0,0,1,100-847.5a12.18,12.18,0,0,1,.984-4.875,12.634,12.634,0,0,1,2.672-3.97,12.6,12.6,0,0,1,3.968-2.672A12.152,12.152,0,0,1,112.5-860a12.176,12.176,0,0,1,4.875.984,12.626,12.626,0,0,1,3.97,2.672,12.613,12.613,0,0,1,2.673,3.968A12.161,12.161,0,0,1,125-847.5a12.182,12.182,0,0,1-.984,4.876,12.628,12.628,0,0,1-2.672,3.969,12.606,12.606,0,0,1-3.968,2.673A12.168,12.168,0,0,1,112.5-835Zm0-1.974a10.16,10.16,0,0,0,7.467-3.059,10.162,10.162,0,0,0,3.059-7.468,10.158,10.158,0,0,0-3.059-7.467,10.161,10.161,0,0,0-7.467-3.06,10.161,10.161,0,0,0-7.467,3.06,10.158,10.158,0,0,0-3.059,7.467,10.162,10.162,0,0,0,3.059,7.468A10.16,10.16,0,0,0,112.5-836.974ZM112.5-847.5Z' transform='translate(-100 860)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='arrow_circle_right_24dp_FILL0_wght300_GRAD0_opsz24' d='M112.5-842.705l4.8-4.795-4.8-4.795-1.374,1.374,2.434,2.435h-5.994v1.974h5.994l-2.434,2.434Zm0,7.705a12.176,12.176,0,0,1-4.875-.984,12.624,12.624,0,0,1-3.97-2.671,12.629,12.629,0,0,1-2.673-3.968A12.168,12.168,0,0,1,100-847.5a12.18,12.18,0,0,1,.984-4.875,12.634,12.634,0,0,1,2.671-3.97,12.6,12.6,0,0,1,3.968-2.672A12.152,12.152,0,0,1,112.5-860a12.176,12.176,0,0,1,4.875.984,12.609,12.609,0,0,1,3.97,2.672,12.615,12.615,0,0,1,2.673,3.968A12.163,12.163,0,0,1,125-847.5a12.178,12.178,0,0,1-.984,4.875,12.621,12.621,0,0,1-2.671,3.97,12.623,12.623,0,0,1-3.968,2.673A12.168,12.168,0,0,1,112.5-835Zm0-1.974a10.16,10.16,0,0,0,7.467-3.059,10.162,10.162,0,0,0,3.059-7.468,10.158,10.158,0,0,0-3.059-7.467,10.161,10.161,0,0,0-7.467-3.06,10.161,10.161,0,0,0-7.467,3.06,10.158,10.158,0,0,0-3.059,7.467,10.162,10.162,0,0,0,3.059,7.468A10.161,10.161,0,0,0,112.5-836.974ZM112.5-847.5Z' transform='translate(-100 860)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='pause_circle_24dp_FILL0_wght300_GRAD0_opsz24' d='M109.084-842.566h1.973v-9.868h-1.973Zm4.858,0h1.973v-9.868h-1.973ZM112.5-835a12.176,12.176,0,0,1-4.875-.984,12.608,12.608,0,0,1-3.97-2.672,12.616,12.616,0,0,1-2.673-3.968A12.163,12.163,0,0,1,100-847.5a12.18,12.18,0,0,1,.984-4.875,12.623,12.623,0,0,1,2.671-3.97,12.624,12.624,0,0,1,3.968-2.673A12.168,12.168,0,0,1,112.5-860a12.176,12.176,0,0,1,4.875.984,12.623,12.623,0,0,1,3.97,2.671,12.627,12.627,0,0,1,2.673,3.968A12.168,12.168,0,0,1,125-847.5a12.18,12.18,0,0,1-.984,4.875,12.634,12.634,0,0,1-2.672,3.97,12.6,12.6,0,0,1-3.968,2.672A12.152,12.152,0,0,1,112.5-835Zm0-1.974a10.161,10.161,0,0,0,7.467-3.06,10.158,10.158,0,0,0,3.059-7.467,10.158,10.158,0,0,0-3.059-7.467,10.157,10.157,0,0,0-7.467-3.06,10.158,10.158,0,0,0-7.467,3.06,10.158,10.158,0,0,0-3.059,7.467,10.158,10.158,0,0,0,3.059,7.467A10.161,10.161,0,0,0,112.5-836.974ZM112.5-847.5Z' transform='translate(-100 860)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='play_circle_24dp_FILL0_wght300_GRAD0_opsz24' d='M109.539-842.187l8.274-5.313-8.274-5.313ZM112.5-835a12.176,12.176,0,0,1-4.875-.984,12.622,12.622,0,0,1-3.97-2.671,12.627,12.627,0,0,1-2.673-3.968A12.168,12.168,0,0,1,100-847.5a12.18,12.18,0,0,1,.984-4.875,12.634,12.634,0,0,1,2.671-3.97,12.6,12.6,0,0,1,3.968-2.672A12.168,12.168,0,0,1,112.5-860a12.176,12.176,0,0,1,4.875.984,12.626,12.626,0,0,1,3.97,2.672,12.615,12.615,0,0,1,2.673,3.968A12.166,12.166,0,0,1,125-847.5a12.18,12.18,0,0,1-.984,4.876,12.628,12.628,0,0,1-2.671,3.969,12.607,12.607,0,0,1-3.968,2.673A12.168,12.168,0,0,1,112.5-835Zm0-1.974a10.16,10.16,0,0,0,7.467-3.059,10.16,10.16,0,0,0,3.059-7.468,10.158,10.158,0,0,0-3.059-7.467,10.161,10.161,0,0,0-7.467-3.06,10.161,10.161,0,0,0-7.467,3.06,10.158,10.158,0,0,0-3.059,7.467,10.16,10.16,0,0,0,3.059,7.468A10.161,10.161,0,0,0,112.5-836.974ZM112.5-847.5Z' transform='translate(-100 860)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 숨김 */
}
.visual .btn_wrap button.btn_prev:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_left_24dp_FILL1_wght300_GRAD0_opsz24' d='M115-839.246l1.649-1.648-2.921-2.921h7.193v-2.368h-7.193l2.921-2.922L115-850.754,109.246-845ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.162,15.162,0,0,1-4.764-3.205,15.165,15.165,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.127,15.127,0,0,1,4.762-3.206A14.592,14.592,0,0,1,115-860a14.6,14.6,0,0,1,5.851,1.182,15.151,15.151,0,0,1,4.764,3.206,15.133,15.133,0,0,1,3.207,4.762A14.6,14.6,0,0,1,130-845a14.612,14.612,0,0,1-1.181,5.851,15.142,15.142,0,0,1-3.206,4.763,15.133,15.133,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Z' transform='translate(-100 860)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_right_24dp_FILL1_wght300_GRAD0_opsz24' d='M115-839.246,120.754-845,115-850.754l-1.649,1.648,2.921,2.922h-7.193v2.368h7.193l-2.921,2.921ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.162,15.162,0,0,1-4.764-3.205,15.165,15.165,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.127,15.127,0,0,1,4.762-3.206A14.592,14.592,0,0,1,115-860a14.6,14.6,0,0,1,5.851,1.182,15.151,15.151,0,0,1,4.764,3.206,15.133,15.133,0,0,1,3.207,4.762A14.6,14.6,0,0,1,130-845a14.612,14.612,0,0,1-1.181,5.851,15.142,15.142,0,0,1-3.206,4.763,15.133,15.133,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Z' transform='translate(-100 860)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='pause_circle_24dp_FILL1_wght300_GRAD0_opsz24' d='M109.084-842.565h1.974v-9.868h-1.974Zm4.858,0h1.973v-9.868h-1.973ZM112.5-835a12.176,12.176,0,0,1-4.875-.984,12.622,12.622,0,0,1-3.97-2.671,12.627,12.627,0,0,1-2.673-3.968A12.168,12.168,0,0,1,100-847.5a12.18,12.18,0,0,1,.984-4.875,12.634,12.634,0,0,1,2.671-3.97,12.6,12.6,0,0,1,3.968-2.672A12.168,12.168,0,0,1,112.5-860a12.176,12.176,0,0,1,4.875.984,12.626,12.626,0,0,1,3.97,2.672,12.615,12.615,0,0,1,2.673,3.968A12.166,12.166,0,0,1,125-847.5a12.18,12.18,0,0,1-.984,4.876,12.628,12.628,0,0,1-2.671,3.969,12.607,12.607,0,0,1-3.968,2.673A12.168,12.168,0,0,1,112.5-835Z' transform='translate(-100 860)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25'%3E%3Cpath id='play_circle_24dp_FILL1_wght300_GRAD0_opsz24' d='M109.539-842.187l8.274-5.313-8.274-5.313ZM112.5-835a12.176,12.176,0,0,1-4.875-.984,12.622,12.622,0,0,1-3.97-2.671,12.627,12.627,0,0,1-2.673-3.968A12.168,12.168,0,0,1,100-847.5a12.18,12.18,0,0,1,.984-4.875,12.634,12.634,0,0,1,2.671-3.97,12.6,12.6,0,0,1,3.968-2.672A12.168,12.168,0,0,1,112.5-860a12.176,12.176,0,0,1,4.875.984,12.626,12.626,0,0,1,3.97,2.672,12.615,12.615,0,0,1,2.673,3.968A12.166,12.166,0,0,1,125-847.5a12.18,12.18,0,0,1-.984,4.876,12.628,12.628,0,0,1-2.671,3.969,12.607,12.607,0,0,1-3.968,2.673A12.168,12.168,0,0,1,112.5-835Z' transform='translate(-100 860)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .slogan {
    position: absolute;
    left: 2%;
    bottom: 0;   
    transform: translate(0, 50%);
    width: 9vw;
    z-index: 10;
    /* mix-blend-mode: difference;
    filter: invert(1); */
}
.visual .slogan img {
    width: 100%;
    /* 애니메이션 호출 */
    animation-name: slogan_rotate;
    animation-duration: 5s; /* 애니메이션 1번 실행 시간 */
    animation-iteration-count: infinite; /* 반복 횟수 - 무한 */
    animation-timing-function: linear; /* 기본값인 가속도를 삭제하는 값 */
}
@keyframes slogan_rotate { /* 애니메이션 정의 */
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@media screen and (max-width:1300px){
    .visual .slogan {
        display: none;
    }
}
@media screen and (max-width:1024px){
    .visual ul li {
        height: 600px;
    } 
    .visual ul li p {
        font-size: 50px;
        margin: 400px 0 0 0;
    }
}
@media screen and (max-width:768px){
    .visual ul li {
        height: 450px;
    } 
    .visual ul li p {
        font-size: 40px;
        margin: 300px 0 0 0;
    }
    .visual .btn_wrap {
        display: none;
    }
}
@media screen and (max-width:640px){
    .visual ul li {
        height: 300px;
    } 
    .visual ul li p {
        font-size: 25px;
        margin: 200px 0 0 0;
    }
}

.find {
    background-color: #013C57;
    color: #fff;
    padding: 150px 0;
}
.find h2 {
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin: 0 0 30px 0;
}
.find .tab > ul > li .tab_menu {
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 20px;
    padding: 15px 30px;
}
.find .tab > ul > li.find1.on .tab_menu{
    background-color: #F4A258;
    border-radius: 50px;
}
.find .tab > ul > li.find2.on .tab_menu{
    background-color: #718C69;
    border-radius: 50px;
}
.find .tab .tab_detail ul li {
    width: 297px;
}
@media screen and (max-width:768px){
    .find .tab .tab_detail ul li {
        width: 197px;
    }
}
.find .tab .tab_detail ul li a {
    display: block;
}
.find .tab .tab_detail ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    border-radius: 30px;
}
.find .tab .tab_detail ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.find .tab .tab_detail ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.find .tab .tab_detail ul li a .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 10px 0;
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 20px;
}
.find .tab .tab_detail ul li a .tit strong {
    /* 옆에 h3 태그의 정확한 넓이를 주기 위해 strong태그의 넓이가 특정되어야 함 */
    width: 3.35em; /* 넓이(72px) / 글자크기(20px) = 3.35em (글자크기 하나가 1em) */
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1em;
    white-space: nowrap;
    /* 넓이가 줄어들면 h3태그의 글자만 짤림 */
}
.find .tab .tab_detail ul li a .tit strong.cate1 {
    background-color: #F4A258;
}
.find .tab .tab_detail ul li a .tit strong.cate2 {
    background-color: #8A8A8A;
}
.find .tab .tab_detail ul li a .tit strong.cate3 {
    background-color: #718C69;
}
.find .tab .tab_detail ul li a .tit strong.cate4 {
    background-color: #5AB49B;
}
.find .tab .tab_detail ul li a .tit h3 {
    width: calc(100% - 3.85em);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .tab .tab_detail ul li a p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* <br> 태그를 이용했다면 1줄씩 계산됨 */
}
@media screen and (max-width:768px){
    .find {
        padding: 50px 0;
    }
    .find h2 {
        font-size: 25px;
        margin: 0 0 20px 0;
    }
    .find .tab > ul > li .tab_menu {
        font-size: 15px;
        padding: 5px 10px;
    }
    .find .tab .tab_detail ul li a .tit {
        margin: 10px 0 5px 0;
        font-size: 13px;
    }
}
.find .tab .tab_detail .btn_wrap {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.find .tab .tab_detail .btn_wrap button {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 30px;
    margin: 0 10px 0 0;
    position: relative; /* before 정렬의 기준 */
}
.find .tab .tab_detail .btn_wrap button::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 정렬의 기준이 되는 영역의 위아래 가운데, 좌우 가운데 */
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.find .tab .tab_detail .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_left_24dp_FILL0_wght300_GRAD0_opsz24' d='M115-839.246l1.649-1.648-2.921-2.921h7.193v-2.368h-7.193l2.921-2.922L115-850.754,109.246-845ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.164,15.164,0,0,1-4.764-3.205,15.164,15.164,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.161,15.161,0,0,1,3.206-4.764,15.128,15.128,0,0,1,4.762-3.206A14.576,14.576,0,0,1,115-860a14.6,14.6,0,0,1,5.85,1.182,15.151,15.151,0,0,1,4.764,3.206,15.129,15.129,0,0,1,3.207,4.762A14.589,14.589,0,0,1,130-845a14.616,14.616,0,0,1-1.181,5.851,15.147,15.147,0,0,1-3.206,4.763,15.132,15.132,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Zm0-2.368a12.191,12.191,0,0,0,8.96-3.671A12.191,12.191,0,0,0,127.632-845a12.189,12.189,0,0,0-3.671-8.96,12.192,12.192,0,0,0-8.96-3.672,12.192,12.192,0,0,0-8.96,3.672,12.189,12.189,0,0,0-3.671,8.96,12.191,12.191,0,0,0,3.671,8.961A12.191,12.191,0,0,0,115-832.368ZM115-845Z' transform='translate(-100 860)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
}
.find .tab .tab_detail .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_right_24dp_FILL0_wght300_GRAD0_opsz24' d='M115-839.246,120.754-845,115-850.754l-1.649,1.648,2.921,2.922h-7.193v2.368h7.193l-2.921,2.921ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.164,15.164,0,0,1-4.764-3.205,15.167,15.167,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.128,15.128,0,0,1,4.762-3.206A14.576,14.576,0,0,1,115-860a14.6,14.6,0,0,1,5.85,1.182,15.119,15.119,0,0,1,4.764,3.206,15.135,15.135,0,0,1,3.207,4.762A14.593,14.593,0,0,1,130-845a14.61,14.61,0,0,1-1.181,5.85,15.134,15.134,0,0,1-3.206,4.764,15.149,15.149,0,0,1-4.762,3.208A14.609,14.609,0,0,1,115-830Zm0-2.368a12.191,12.191,0,0,0,8.96-3.671A12.192,12.192,0,0,0,127.632-845a12.19,12.19,0,0,0-3.671-8.96,12.192,12.192,0,0,0-8.96-3.672,12.193,12.193,0,0,0-8.961,3.672,12.19,12.19,0,0,0-3.671,8.96,12.192,12.192,0,0,0,3.671,8.961A12.192,12.192,0,0,0,115-832.368ZM115-845Z' transform='translate(-100 860)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
}
.find .tab .tab_detail .btn_wrap button.prev:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_left_24dp_FILL1_wght300_GRAD0_opsz24' d='M115-839.246l1.649-1.648-2.921-2.921h7.193v-2.368h-7.193l2.921-2.922L115-850.754,109.246-845ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.162,15.162,0,0,1-4.764-3.205,15.165,15.165,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.127,15.127,0,0,1,4.762-3.206A14.592,14.592,0,0,1,115-860a14.6,14.6,0,0,1,5.851,1.182,15.151,15.151,0,0,1,4.764,3.206,15.133,15.133,0,0,1,3.207,4.762A14.6,14.6,0,0,1,130-845a14.612,14.612,0,0,1-1.181,5.851,15.142,15.142,0,0,1-3.206,4.763,15.133,15.133,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Z' transform='translate(-100 860)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
}
.find .tab .tab_detail .btn_wrap button.next:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_right_24dp_FILL1_wght300_GRAD0_opsz24' d='M115-839.246,120.754-845,115-850.754l-1.649,1.648,2.921,2.922h-7.193v2.368h7.193l-2.921,2.921ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.162,15.162,0,0,1-4.764-3.205,15.165,15.165,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.127,15.127,0,0,1,4.762-3.206A14.592,14.592,0,0,1,115-860a14.6,14.6,0,0,1,5.851,1.182,15.151,15.151,0,0,1,4.764,3.206,15.133,15.133,0,0,1,3.207,4.762A14.6,14.6,0,0,1,130-845a14.612,14.612,0,0,1-1.181,5.851,15.142,15.142,0,0,1-3.206,4.763,15.133,15.133,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Z' transform='translate(-100 860)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
}
.find .tab .tab_detail .btn_wrap .more {
    font-size: 13px;
    width: 90px;
    height: 30px;
    color: #fff;
    line-height: 25px; /* 왼쪽 좌우 버튼이랑 높이를 동일하게 코딩하기 위해 */
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 0 0 0 13px;
    position: relative;
}
.find .tab .tab_detail .btn_wrap .more::after {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.667' height='9.409' viewBox='0 0 9.667 9.409'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.276-734.753H220v-1.086h4.276V-740h1.115v4.162h4.276v1.086h-4.276v4.162h-1.115Z' transform='translate(-220 740)' fill='%23fff' opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
.find .tab .tab_detail .btn_wrap .more:hover {
    color: #1d1d1d;
    background-color: #fff;
}
.find .tab .tab_detail .btn_wrap .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.667' height='9.409' viewBox='0 0 9.667 9.409'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.276-734.753H220v-1.086h4.276V-740h1.115v4.162h4.276v1.086h-4.276v4.162h-1.115Z' transform='translate(-220 740)' fill='%231D1D1D' opacity='0.8'/%3E%3C/svg%3E%0A");
}
/* tab메뉴 구현: 하나의 li에만 on 클래스 추가 */
.find .tab {
    position: relative; /* tab_menu 정렬의 중심*/
}
.find .tab > ul > li > .tab_menu {
    position: absolute; /* tab을 기준으로 정렬 */
    top: 0;
}
.find .tab > ul > li.find1 > .tab_menu {
    right: 50%;
}
.find .tab > ul > li.find2 > .tab_menu {
    left: 50%;
}
.find .tab > ul > li > .tab_detail {
    display: none;
    padding: 110px 0 0 0;
}
.find .tab > ul > li.on > .tab_detail {
    display: block;
}
@media screen and (max-width:768px){
    .find .tab .tab_detail .btn_wrap {
        margin: 25px 0 0 0;
    }
    .find .tab .tab_detail .btn_wrap button {
        display: none;
    }
    .find .tab .tab_detail .btn_wrap .more {
        font-size: 13px;
        width: 90px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        border: 1px solid #fff;
    }
    .find .tab .tab_detail .btn_wrap .more::after {
        right: 12px;
        top: 10px;
        width: 8px;
        height: 8px;
    }
    .find .tab > ul > li > .tab_detail {
        padding: 45px 0 0 0;
    }
}

.campaign {
    margin: 150px 0;
    text-align: center;
}
.campaign h2 {
    display: none;
}
.campaign p {
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 75px;
    line-height: 1.5;
    color: #1d1d1d;
}
.campaign p span {
    display: inline-block;
}
.campaign p .cam01 {
    width: 1.2em; /* 넓이/글자크기 */ 
    height: 0.7em;
    position: relative;
}
.campaign p .cam01::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 60px;
    background: url(../images/campaign01.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam02 {
    width: 1.2em; /* 넓이/글자크기 */ 
    height: 0.7em;
    position: relative;
}
.campaign p .cam02::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 70px;
    background: url(../images/campaign02.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam03 {
    width: 1.2em; /* 넓이/글자크기 */ 
    height: 0.7em;
    position: relative;
}
.campaign p .cam03::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 70px;
    background: url(../images/campaign03.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam04 {
    width: 1.1em; /* 넓이/글자크기 */ 
    height: 0.7em;
    position: relative;
}
.campaign p .cam04::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 63px;
    background: url(../images/campaign04.svg) no-repeat center center / contain;
    content: "";
}
.campaign p .cam05 {
    width: 1.2em; /* 넓이/글자크기 */ 
    height: 0.7em;
    position: relative;
}
.campaign p .cam05::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 60px;
    background: url(../images/campaign05.svg) no-repeat center center / contain;
    content: "";
}
.campaign strong {
    display: block;
    margin: 25px 0 0 0;
}
@media screen and (max-width:1300px){
    .campaign p {
        font-size: 60px;
    }
}
@media screen and (max-width:1024px){
    .campaign p {
        font-size: 50px;
    }
}
@media screen and (max-width:768px){
    .campaign {
        margin: 50px 0;
    }
    .campaign p {
        font-size: 25px;
    }
    .campaign p br {
        display: none;
    }
    .campaign strong {
        margin: 10px 0 0 0;
    }
}

.family {
    background-color: #BDD4CE;
    padding: 150px 0 300px 0;
    text-align: center;
    position: relative; /* slogan 정렬의 기준 */
}
.family h2 {
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 50px;
    color: #1d1d1d;
    margin: 0 0 50px 0;
}
.family .list ul li {
    width: 433px;
}
.family .list ul li a {
    display: block;
    position: relative; /* strong 정렬의 기준 */
}
.family .list ul li a .photo {
    overflow: hidden;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}
.family .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.family .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.family .list ul li a strong {
    position: absolute;
    left: 10%;
    bottom: 5em; 
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    line-height: 2.75em;
    font-family: 'KBO-Dia-Gothic';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.family .list ul li a strong.cate1 {
    background-color: #F4A258;
}
.family .list ul li a strong.cate2 {
    background-color: #013C57;
}
.family .list ul li a p {
    margin: 20px 0 50px 0;
}
.family .btn_wrap {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.family .btn_wrap button {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 30px;
    margin: 0 10px 0 0;
    position: relative; /* before 정렬의 기준 */
}
.family .btn_wrap button::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 정렬의 기준이 되는 영역의 위아래 가운데, 좌우 가운데 */
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.family .btn_wrap button.prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_left_24dp_FILL0_wght300_GRAD0_opsz24' d='M115-839.246l1.649-1.648-2.921-2.921h7.193v-2.368h-7.193l2.921-2.922L115-850.754,109.246-845ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.164,15.164,0,0,1-4.764-3.205,15.164,15.164,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.161,15.161,0,0,1,3.206-4.764,15.128,15.128,0,0,1,4.762-3.206A14.576,14.576,0,0,1,115-860a14.6,14.6,0,0,1,5.85,1.182,15.151,15.151,0,0,1,4.764,3.206,15.129,15.129,0,0,1,3.207,4.762A14.589,14.589,0,0,1,130-845a14.616,14.616,0,0,1-1.181,5.851,15.147,15.147,0,0,1-3.206,4.763,15.132,15.132,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Zm0-2.368a12.191,12.191,0,0,0,8.96-3.671A12.191,12.191,0,0,0,127.632-845a12.189,12.189,0,0,0-3.671-8.96,12.192,12.192,0,0,0-8.96-3.672,12.192,12.192,0,0,0-8.96,3.672,12.189,12.189,0,0,0-3.671,8.96,12.191,12.191,0,0,0,3.671,8.961A12.191,12.191,0,0,0,115-832.368ZM115-845Z' transform='translate(-100 860)' fill='%233d3d3d' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.family .btn_wrap button.next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_right_24dp_FILL0_wght300_GRAD0_opsz24' d='M115-839.246,120.754-845,115-850.754l-1.649,1.648,2.921,2.922h-7.193v2.368h7.193l-2.921,2.921ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.164,15.164,0,0,1-4.764-3.205,15.167,15.167,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.128,15.128,0,0,1,4.762-3.206A14.576,14.576,0,0,1,115-860a14.6,14.6,0,0,1,5.85,1.182,15.119,15.119,0,0,1,4.764,3.206,15.135,15.135,0,0,1,3.207,4.762A14.593,14.593,0,0,1,130-845a14.61,14.61,0,0,1-1.181,5.85,15.134,15.134,0,0,1-3.206,4.764,15.149,15.149,0,0,1-4.762,3.208A14.609,14.609,0,0,1,115-830Zm0-2.368a12.191,12.191,0,0,0,8.96-3.671A12.192,12.192,0,0,0,127.632-845a12.19,12.19,0,0,0-3.671-8.96,12.192,12.192,0,0,0-8.96-3.672,12.193,12.193,0,0,0-8.961,3.672,12.19,12.19,0,0,0-3.671,8.96,12.192,12.192,0,0,0,3.671,8.961A12.192,12.192,0,0,0,115-832.368ZM115-845Z' transform='translate(-100 860)' fill='%233d3d3d' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.family .btn_wrap button.prev:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_left_24dp_FILL1_wght300_GRAD0_opsz24' d='M115-839.246l1.649-1.648-2.921-2.921h7.193v-2.368h-7.193l2.921-2.922L115-850.754,109.246-845ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.162,15.162,0,0,1-4.764-3.205,15.165,15.165,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.127,15.127,0,0,1,4.762-3.206A14.592,14.592,0,0,1,115-860a14.6,14.6,0,0,1,5.851,1.182,15.151,15.151,0,0,1,4.764,3.206,15.133,15.133,0,0,1,3.207,4.762A14.6,14.6,0,0,1,130-845a14.612,14.612,0,0,1-1.181,5.851,15.142,15.142,0,0,1-3.206,4.763,15.133,15.133,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Z' transform='translate(-100 860)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.family .btn_wrap button.next:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='arrow_circle_right_24dp_FILL1_wght300_GRAD0_opsz24' d='M115-839.246,120.754-845,115-850.754l-1.649,1.648,2.921,2.922h-7.193v2.368h7.193l-2.921,2.921ZM115-830a14.617,14.617,0,0,1-5.85-1.181,15.162,15.162,0,0,1-4.764-3.205,15.165,15.165,0,0,1-3.207-4.762A14.6,14.6,0,0,1,100-845a14.619,14.619,0,0,1,1.181-5.85,15.16,15.16,0,0,1,3.206-4.764,15.127,15.127,0,0,1,4.762-3.206A14.592,14.592,0,0,1,115-860a14.6,14.6,0,0,1,5.851,1.182,15.151,15.151,0,0,1,4.764,3.206,15.133,15.133,0,0,1,3.207,4.762A14.6,14.6,0,0,1,130-845a14.612,14.612,0,0,1-1.181,5.851,15.142,15.142,0,0,1-3.206,4.763,15.133,15.133,0,0,1-4.762,3.208A14.608,14.608,0,0,1,115-830Z' transform='translate(-100 860)' fill='%23fff' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.family .btn_wrap .more {
    font-size: 13px;
    width: 90px;
    height: 30px;
    color: #3d3d3d;
    line-height: 25px; /* 왼쪽 좌우 버튼이랑 높이를 동일하게 코딩하기 위해 */
    border: 2px solid rgba(61, 61, 61, 0.6);
    border-radius: 15px;
    padding: 0 0 0 13px;
    text-align: left;
    position: relative;
}
.family .btn_wrap .more::after {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.667' height='9.409' viewBox='0 0 9.667 9.409'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.276-734.753H220v-1.086h4.276V-740h1.115v4.162h4.276v1.086h-4.276v4.162h-1.115Z' transform='translate(-220 740)' fill='%233d3d3d' opacity='0.6'/%3E%3C/svg%3E%0A");
    content: "";
}
.family .btn_wrap .more:hover {
    color: #1d1d1d;
    border-color: rgba(225, 225, 225, 0.6);
    background-color: rgba(225, 225, 225, 0.6);
}
.family .btn_wrap .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.667' height='9.409' viewBox='0 0 9.667 9.409'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M224.276-734.753H220v-1.086h4.276V-740h1.115v4.162h4.276v1.086h-4.276v4.162h-1.115Z' transform='translate(-220 740)' fill='%231D1D1D' opacity='0.6'/%3E%3C/svg%3E%0A");
}
.family .slogan {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 200px;
    font-weight: 400;
    /* 글자 선만 표시 -webkit 일부 브라우저에서는 적용 안될 수 있음 */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    white-space: nowrap;
}
/* position: absolute를 줘서 진짜 글자가 들어간 만큼의 넓이를 갖도록 함 */
.family .slogan p {
    /* transform: translate(-25%, 0); */
    position: absolute; 
    left: 0;
    bottom: 0;
    animation-name: slogan_move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes slogan_move {
    0% {transform: translate(0, 0)}
    100% {transform: translate(-25%, 0);}
}
@media screen and (max-width:768px){
    .family {
        padding: 50px 0 150px 0;
    }
    .family .list ul li {
        width: 298px;
    }
    .family .list ul li a strong {
        left: 10%;
        bottom: 5em; 
        width: 2.65em;
        height: 2.65em;
        line-height: 2.65em;
        font-size: 15px;
    }
    .family .btn_wrap {
        margin: 0;
    }
    .family .btn_wrap button {
        display: none;
    }
    .family .btn_wrap .more {
        width: 90px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        border: 1px solid rgba(61, 61, 61, 0.6);
    }
    .family .btn_wrap .more::after {
        right: 12px;
        top: 10px;
        width: 8px;
        height: 8px;
    }
    .family .slogan {
        -webkit-text-stroke-color: rgba(225, 225, 225, 0.8);
        font-size: 100px;
    }
}

footer {
    margin: 50px 0 100px 0;
}
footer .wrapper {
    position: relative; /* .family_site .sns 정렬의 기준 */
}
footer .sns {
    position: absolute; 
    right: 0;
    bottom: 0;
}
footer .sns ul {
    display: flex;
    gap: 10px;
}
footer .sns ul li a {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
}
footer .sns ul li a::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .sns ul li.facebook a::after {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_158' data-name='사각형 158' width='30' height='30' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_66' data-name='그룹 66' transform='translate(0 0)' opacity='0.9'%3E%3Cg id='그룹_65' data-name='그룹 65' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_2242' data-name='패스 2242' d='M22.407,30H17.32L15,29.234,12.7,30h-5.1A7.593,7.593,0,0,1,0,22.407V7.593A7.593,7.593,0,0,1,7.594,0H22.407A7.593,7.593,0,0,1,30,7.593V22.407A7.593,7.593,0,0,1,22.407,30' transform='translate(0 0)' fill='%233d3d3d'/%3E%3Cpath id='패스_2243' data-name='패스 2243' d='M14.488,12.943v3.264H10.726v4.284h3.762V31.207h4.63V20.491h3.453l.657-4.284h-4.11V13.428a2.142,2.142,0,0,1,2.415-2.314H23.4V7.467a22.853,22.853,0,0,0-3.317-.289c-3.385,0-5.6,2.05-5.6,5.765' transform='translate(-1.804 -1.207)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .sns ul li.twiter a::after {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_157' data-name='사각형 157' width='30' height='30' transform='translate(0 0)' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_64' data-name='그룹 64' transform='translate(0 0)' opacity='0.9'%3E%3Cg id='그룹_63' data-name='그룹 63' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_2240' data-name='패스 2240' d='M22.407,30H7.594A7.593,7.593,0,0,1,0,22.407V7.593A7.593,7.593,0,0,1,7.594,0H22.407A7.593,7.593,0,0,1,30,7.593V22.407A7.593,7.593,0,0,1,22.407,30' transform='translate(0 0)' fill='%233d3d3d'/%3E%3Cpath id='패스_2241' data-name='패스 2241' d='M24.621,11.73a6.642,6.642,0,0,1-1.635.466c.263-.044.649-.52.8-.712a2.99,2.99,0,0,0,.543-.989c.014-.028.024-.064,0-.086a.093.093,0,0,0-.086.007,8.376,8.376,0,0,1-1.937.742.131.131,0,0,1-.134-.036,1.521,1.521,0,0,0-.17-.173,3.43,3.43,0,0,0-.938-.576,3.265,3.265,0,0,0-1.44-.231,3.444,3.444,0,0,0-1.366.385,3.515,3.515,0,0,0-1.1.9,3.383,3.383,0,0,0-.658,1.318,3.559,3.559,0,0,0-.035,1.391c.01.078,0,.089-.067.078a10.349,10.349,0,0,1-6.658-3.389c-.078-.089-.12-.089-.184.007a3.375,3.375,0,0,0,.576,3.989c.131.124.265.248.409.36a3.4,3.4,0,0,1-1.285-.36c-.077-.049-.116-.021-.123.067a2.006,2.006,0,0,0,.021.382,3.415,3.415,0,0,0,2.1,2.722,2,2,0,0,0,.427.131,3.811,3.811,0,0,1-1.26.039c-.092-.017-.126.028-.092.116A3.544,3.544,0,0,0,12.979,20.5c.12.021.24.021.36.049-.007.011-.014.011-.022.022a4.193,4.193,0,0,1-1.808.958,6.468,6.468,0,0,1-2.747.351c-.147-.022-.179-.02-.219,0s0,.061.042.1c.187.123.378.233.572.339A9.024,9.024,0,0,0,11,23.048a9.777,9.777,0,0,0,9.492-2.219,9.962,9.962,0,0,0,2.627-7.267c0-.1.123-.161.2-.217A6.406,6.406,0,0,0,24.6,12a.407.407,0,0,0,.086-.257V11.73c0-.042,0-.03-.067,0' transform='translate(-1.434 -1.705)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .sns ul li.naver a::after {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_156' data-name='사각형 156' width='30' height='30' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_62' data-name='그룹 62' opacity='0.9'%3E%3Cg id='그룹_61' data-name='그룹 61' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_2238' data-name='패스 2238' d='M27.555,30H2.445A2.445,2.445,0,0,1,0,27.555V2.445A2.445,2.445,0,0,1,2.445,0H27.555A2.445,2.445,0,0,1,30,2.445v25.11A2.445,2.445,0,0,1,27.555,30' fill='%233d3d3d'/%3E%3Cpath id='패스_2239' data-name='패스 2239' d='M42.946,28.888v13.7h-5l-4.9-6.9v6.9h-5v-13.7h5l4.9,7.175V28.888Z' transform='translate(-20.495 -21.111)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .sns ul li.daum a::after {
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='30' height='30' viewBox='0 0 30 30'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_159' data-name='사각형 159' width='30' height='30' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_68' data-name='그룹 68' opacity='0.9'%3E%3Cg id='그룹_67' data-name='그룹 67' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_2244' data-name='패스 2244' d='M27.555,30H2.445A2.445,2.445,0,0,1,0,27.555V2.445A2.445,2.445,0,0,1,2.445,0H27.555A2.445,2.445,0,0,1,30,2.445v25.11A2.445,2.445,0,0,1,27.555,30' fill='%233d3d3d'/%3E%3Cpath id='패스_2245' data-name='패스 2245' d='M35.328,25.1H27.191V42.421h8.137a8.662,8.662,0,0,0,0-17.324M35.5,36.872H32.572V30.646H35.5a3.113,3.113,0,0,1,0,6.226' transform='translate(-19.871 -18.341)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .f_nav ul {
    display: flex;
    margin: 0 0 10px 0;
    gap: 33px;
}
footer .f_nav ul li {
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    right: -14px;
    top: 4px;
    width: 1px;
    height: 10px;
    background-color: rgba(61, 61, 61, 0.5);
    content: "";
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .family_site {
    position: absolute; 
    right: 0;
    top: 0;
}
footer .family_site button {
    display: none;
}
footer .family_site .list ul li a {
    display: block;
    text-align: right;
    line-height: 1.4;
}
footer .family_site .list ul li a span {
    padding: 0 25px 0 0; /* 아이콘이 들어갈 자리 */
    position: relative; /* after 정렬의 기준 */
}
footer .family_site .list ul li a span::after {
    position: absolute;
    right: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cpath id='open_in_new_24dp_FILL0_wght300_GRAD0_opsz24' d='M141.595-805a1.54,1.54,0,0,1-1.132-.463,1.541,1.541,0,0,1-.463-1.132v-11.811a1.541,1.541,0,0,1,.463-1.132,1.54,1.54,0,0,1,1.132-.463h5.566v1.324h-5.566a.261.261,0,0,0-.187.084.26.26,0,0,0-.085.187v11.811a.26.26,0,0,0,.085.187.259.259,0,0,0,.187.085h11.81a.259.259,0,0,0,.187-.085.26.26,0,0,0,.085-.187v-5.565H155v5.565a1.54,1.54,0,0,1-.463,1.132,1.54,1.54,0,0,1-1.132.463Zm3.893-4.558-.93-.93,8.189-8.188h-3.482V-820H155v5.735h-1.324v-3.482Z' transform='translate(-140 820)' fill='%233d3d3d' opacity='0.8'/%3E%3C/svg%3E%0A");
    content: "";
}
footer .copyright {
    margin: 90px 0 0 0;
    color:  rgba(61, 61, 61, 0.8);
}
@media screen and (max-width:768px){
    footer .sns {
        position: relative; /* absolute 해제 */
        right: auto; /* 해제 */
        bottom: auto;
    }
    footer .sns ul {
        justify-content: center;
    }
    footer .f_nav {
        margin: 30px 0;
    }
    footer .f_nav ul {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        gap: 0;
    }
    footer .f_nav ul li {
        margin-right: 25px;
        line-height: 1.4;
    }
    footer .f_nav ul li::after {
        right: -14px;
        top: 8px;
        width: 2px;
        height: 2px;
        border-radius: 50%;
    }
    footer .f_nav ul li:last-child:after {
        display: none;
    }
    footer .family_site {
        position: relative; 
        right: auto;
        top: auto;
        max-width: 450px;
        margin: 0 auto; /* 가운데 */
    }
    footer .family_site button {
        width: 100%;
        height: 30px;
        border: 1px solid #8E8E8E;
        border-radius: 20px;
        text-align: left;
        padding: 0 0 0 25px;
        position: relative;
    }
    footer .family_site button.open {
        display: block;
    }
    footer .family_site button::after {
        position: absolute;
        right: 25px;
        top: 9px;
        width: 8px;
        height: 8px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    footer .family_site button.open::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath id='add_24dp_FILL0_wght300_GRAD0_opsz24' d='M223.538-735.538H220v-.923h3.538V-740h.923v3.539H228v.923h-3.538V-732h-.923Z' transform='translate(-220 740)' fill='%233d3d3d' opacity='0.8'/%3E%3C/svg%3E%0A");
    }
    footer .family_site button.close::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='1' viewBox='0 0 8 1'%3E%3Cpath id='패스_2273' data-name='패스 2273' d='M1898,3351h8' transform='translate(-1898 -3350.5)' fill='none' stroke='%23707070' stroke-width='1'/%3E%3C/svg%3E%0A");
    }
    footer .family_site .list {
        display: none;
        position: absolute; /* family_site를 기준으로 정렬 */
        left: 0;
        bottom: 30px;
        width: 100%;
        background-color: #fff;
        border: 1px solid rgba(61, 61, 61, 0.5);
        border-radius: 20px;
        padding: 15px 20px;
    }
    footer .family_site .list ul li a {
        text-align: left;
    }
    footer .family_site .list ul li a span {
        padding: 0 20px 0 0; /* 아이콘이 들어갈 자리 */
    }
    footer .family_site .list ul li a span::after {
        position: absolute;
        right: 0;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    /* family_site가 열렸을 때 */
    footer .family_site.open button.open {
        display: none;
    }
    footer .family_site.open button.close {
        display: block;
    }
    footer .family_site.open .list {
        display: block;
    }
    footer .copyright {
        margin: 30px 0 0 0;
        text-align: center;
    }
}