@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual_popup .popup .popup_item img {
    width: 100%;
}
.visual_popup .popup .popup_item img.mo {
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute; /* popup을 기준으로 정렬 (slick이 relative 줌) */
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    display: flex;
    gap: 5px;
}
.visual_popup .popup .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 36px;
    height: 13px;
    border-radius: 6px;
    background-color: rgba(244, 247, 228, 0.5);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 71px;
    background-color: #f4f7e4;
}
@media screen and (max-width:768px) {
    .visual_popup .popup .popup_item img.pc {
        display: none;
    }
    .visual_popup .popup .popup_item img.mo {
        display: block;
    }
}

.menu .tit {
    text-align: center;
    margin: 100px 0 0 0;
}
.menu .tit h2 {
    font-family: "Edu AU VIC WA NT Hand";
    font-size: var(--txt-size-tit);
    font-weight: 500;
    color: var(--txt-color-tit);
}
.menu .list .popup .popup_item {
    width: 277px;
    margin: 50px 12px;
    padding: 0 0 20px 0;
    position: relative;
}
.menu .list .popup .popup_item::before {
    position: absolute;
    left: 0;
    top: 65px;
    z-index: -1;
    width: 100%;
    height: calc(100% - 69px);
    border: 2px solid #1d1d1d;
    content: "";
}
.menu .list .popup .popup_item .photo {
    overflow: hidden;
    margin: 0 10px;
}
.menu .list .popup .popup_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu .list .popup .popup_item h3 {
    color: var(--txt-color-tit);
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    height: 2.4em; /* 무조건 2줄 -> 행간 * 2 (단위는 em)*/
    margin: 40px 0 0 0;
    position: relative;
}
.menu .list .popup .popup_item h3::before {
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translate(-50%, 0);
    width: 80px;
    height: 2px;
    background-color: #1d1d1d;
    content: "";
}
@media screen and (max-width:1300px) {
    .menu .list .popup .popup_item {
        width: 240px;
        padding: 0 0 19px 0;
    }
}
@media screen and (max-width:1024px) {
    .menu .list .popup .popup_item {
        width: 220px;
        padding: 0 0 17px 0;
    }
}
@media screen and (max-width:768px) {
    .menu .tit {
        margin: 50px 0 0 0;
    }
    .menu .list .popup .popup_item {
        width: 195px;
        padding: 0 0 16px 0;
    }
    .menu .list .popup .popup_item h3::before {
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translate(-50%, 0);
        width: 80px;
        height: 2px;
        background-color: #1d1d1d;
        content: "";
    }
    .menu .list .popup .popup_item h3::before {
        width: 50px;
    }
}