/* header와 footer처럼 페이지에 공통으로 배치되는 요소의 css */

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /* focus가 될때만 나타나야 하기 때문에 위에 숨겨져 있어야 함 */
    z-index: 999999999999; 
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ED1C24;
    text-align: center;
    color: #fff;
}
.skip_nav a:focus {
    top: 100px;
}

header.fixed {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px rgba(211, 211, 211, 0.5);
}
header .header_top {
    height: 30px;
    background-color: var(--color-main1);
    color: var(--txt-color-white);
    position: relative;
}
header .header_top .tnb {
    line-height: 30px;
    text-align: right;
}
header .header_top .tnb ul {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
header .header_top .tnb ul li a {
    padding-left: 30px;
}
header .header_top .tnb ul li a:hover {
    font-weight: 500;
}
header .header_top .tnb ul li a span {
    position: relative;
}
header .header_top .tnb ul li a span::before {
    position: absolute;
    left: -25px;
    top: 1px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
header .header_top .tnb ul li.join a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1073' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1073)'%3E%3Cpath d='M6.27428 18.0128C7.1597 17.3558 8.12428 16.837 9.16803 16.4563C10.2116 16.0757 11.3224 15.8854 12.5003 15.8854C13.6783 15.8854 14.789 16.0757 15.8326 16.4563C16.8764 16.837 17.841 17.3558 18.7264 18.0128C19.3739 17.301 19.887 16.477 20.2657 15.5409C20.6443 14.6048 20.8337 13.5912 20.8337 12.5C20.8337 10.191 20.022 8.22485 18.3988 6.60158C16.7755 4.97832 14.8094 4.16669 12.5003 4.16669C10.1913 4.16669 8.22515 4.97832 6.60189 6.60158C4.97862 8.22485 4.16699 10.191 4.16699 12.5C4.16699 13.5912 4.35632 14.6048 4.73496 15.5409C5.11361 16.477 5.62671 17.301 6.27428 18.0128ZM12.5003 13.2813C11.5495 13.2813 10.7475 12.9547 10.0946 12.3016C9.44147 11.6486 9.11491 10.8467 9.11491 9.89585C9.11491 8.94499 9.44147 8.14308 10.0946 7.49012C10.7475 6.837 11.5495 6.51044 12.5003 6.51044C13.4512 6.51044 14.2531 6.837 14.9061 7.49012C15.5592 8.14308 15.8857 8.94499 15.8857 9.89585C15.8857 10.8467 15.5592 11.6486 14.9061 12.3016C14.2531 12.9547 13.4512 13.2813 12.5003 13.2813ZM12.5003 22.3959C11.1262 22.3959 9.83713 22.1374 8.63314 21.6206C7.42914 21.1038 6.38184 20.3999 5.49121 19.5091C4.60041 18.6185 3.89659 17.5712 3.37975 16.3672C2.86291 15.1632 2.60449 13.8742 2.60449 12.5C2.60449 11.1259 2.86291 9.83683 3.37975 8.63283C3.89659 7.42884 4.60041 6.38153 5.49121 5.49091C6.38184 4.60011 7.42914 3.89629 8.63314 3.37945C9.83713 2.86261 11.1262 2.60419 12.5003 2.60419C13.8745 2.60419 15.1635 2.86261 16.3675 3.37945C17.5715 3.89629 18.6188 4.60011 19.5094 5.49091C20.4002 6.38153 21.1041 7.42884 21.6209 8.63283C22.1377 9.83683 22.3962 11.1259 22.3962 12.5C22.3962 13.8742 22.1377 15.1632 21.6209 16.3672C21.1041 17.5712 20.4002 18.6185 19.5094 19.5091C18.6188 20.3999 17.5715 21.1038 16.3675 21.6206C15.1635 22.1374 13.8745 22.3959 12.5003 22.3959Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .header_top .tnb ul li.login a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_77_1078' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_77_1078)'%3E%3Cpath d='M6.57057 8.85415H15.625V6.77081C15.625 5.90276 15.3212 5.16491 14.7135 4.55727C14.1059 3.94963 13.3681 3.64581 12.5 3.64581C11.6319 3.64581 10.8941 3.94963 10.2865 4.55727C9.67882 5.16491 9.375 5.90276 9.375 6.77081H7.8125C7.8125 5.47012 8.26858 4.36369 9.18073 3.45154C10.0929 2.53939 11.1993 2.08331 12.5 2.08331C13.8007 2.08331 14.9071 2.53939 15.8193 3.45154C16.7314 4.36369 17.1875 5.47012 17.1875 6.77081V8.85415H18.4294C18.9473 8.85415 19.3906 9.03852 19.7594 9.40727C20.1281 9.77602 20.3125 10.2193 20.3125 10.7372V20.5127C20.3125 21.0306 20.1281 21.4739 19.7594 21.8427C19.3906 22.2114 18.9473 22.3958 18.4294 22.3958H6.57057C6.05269 22.3958 5.60938 22.2114 5.24063 21.8427C4.87188 21.4739 4.6875 21.0306 4.6875 20.5127V10.7372C4.6875 10.2193 4.87188 9.77602 5.24063 9.40727C5.60938 9.03852 6.05269 8.85415 6.57057 8.85415ZM12.5 17.4479C13.0061 17.4479 13.4365 17.2706 13.7911 16.9161C14.1457 16.5614 14.3229 16.1311 14.3229 15.625C14.3229 15.1189 14.1457 14.6885 13.7911 14.3338C13.4365 13.9793 13.0061 13.8021 12.5 13.8021C11.9939 13.8021 11.5635 13.9793 11.2089 14.3338C10.8543 14.6885 10.6771 15.1189 10.6771 15.625C10.6771 16.1311 10.8543 16.5614 11.2089 16.9161C11.5635 17.2706 11.9939 17.4479 12.5 17.4479Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

header .header_bottom {
    width: 100%;
    height: 70px;
    background-color: #fff;
    font-weight: 500;
}
header .header_bottom .wrapper {
    display: flex;
    justify-content: space-between;
}
header .header_bottom .logo a {
    width: 120px;
    height: 60px;
    font-size: 0;
    line-height: 0;
    margin-top: 5px;
    display: block;
    position: relative;
}
header .header_bottom .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/common/logo.png);
    content: "";
}

@media screen and (min-width:1025px) {
    header .header_bottom .tnb {
        display: none;
    }
    header .header_bottom .gnb button {
        display: none;
    }
    header .header_bottom .gnb ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .header_bottom .gnb ul.depth1 > li {
        width: 200px;
        position: relative;
    }
    header .header_bottom .gnb ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        line-height: 70px;
        color: var(--txt-color-tit);
    }
    header .header_bottom .gnb ul.depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        line-height: 2;
        padding-top: 10px;
        color: var(--txt-color-gray1);
    }
    header .header_bottom .gnb ul.depth2 > li > a:hover {
        color: rgba(23, 158, 30, 0.8);
    }
    /* header에 마우스 오버 - menu_over */
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 280px;
        background-color: #fff;
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: var(--txt-color-gray2);
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 {
        color: var(--txt-color-tit);
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
    /* ul.depth1 > li에 on클래스 추가 */
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative;
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li.on > a span::after {
        position: absolute;
        left: 0;
        bottom: -23px;
        width: 100%;
        height: 3px;
        z-index: 3;
        background-color: var(--color-main1);
        content: "";
    }
}

@media screen and (max-width:1300px) {
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 150px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
}
@media screen and (max-width:1024px) {
    header {
        position: relative;
    }
    header .header_top {
        display: none;
    }
    header .header_bottom {
        height: 50px;
    }
    header .header_bottom .logo a {
        width: 90px;
        height: 45px;
        margin-top: 5px;
    }
    /* header .header_bottom .tnb ul {
        display: flex;
    }
    header .header_bottom .tnb ul li a {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        font-size: 0;
        line-height: 0;
    }
    header .header_bottom .tnb ul li a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        content: "";
    }
    header .header_bottom .tnb ul li.join a span::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_85_920' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_85_920)'%3E%3Cpath d='M6.2738 18.0128C7.15921 17.3558 8.1238 16.837 9.16755 16.4563C10.2111 16.0757 11.3219 15.8854 12.4998 15.8854C13.6778 15.8854 14.7886 16.0757 15.8321 16.4563C16.8759 16.837 17.8405 17.3558 18.7259 18.0128C19.3734 17.301 19.8866 16.477 20.2652 15.5409C20.6438 14.6048 20.8332 13.5912 20.8332 12.5C20.8332 10.191 20.0215 8.22485 18.3983 6.60158C16.775 4.97832 14.8089 4.16669 12.4998 4.16669C10.1908 4.16669 8.22466 4.97832 6.6014 6.60158C4.97814 8.22485 4.1665 10.191 4.1665 12.5C4.1665 13.5912 4.35583 14.6048 4.73447 15.5409C5.11312 16.477 5.62623 17.301 6.2738 18.0128ZM12.4998 13.2813C11.549 13.2813 10.7471 12.9547 10.0941 12.3016C9.44098 11.6486 9.11442 10.8467 9.11442 9.89585C9.11442 8.94499 9.44098 8.14308 10.0941 7.49012C10.7471 6.837 11.549 6.51044 12.4998 6.51044C13.4507 6.51044 14.2526 6.837 14.9056 7.49012C15.5587 8.14308 15.8853 8.94499 15.8853 9.89585C15.8853 10.8467 15.5587 11.6486 14.9056 12.3016C14.2526 12.9547 13.4507 13.2813 12.4998 13.2813ZM12.4998 22.3959C11.1257 22.3959 9.83664 22.1374 8.63265 21.6206C7.42866 21.1038 6.38135 20.3999 5.49072 19.5091C4.59992 18.6185 3.8961 17.5712 3.37926 16.3672C2.86242 15.1632 2.604 13.8742 2.604 12.5C2.604 11.1259 2.86242 9.83683 3.37926 8.63283C3.8961 7.42884 4.59992 6.38153 5.49072 5.49091C6.38135 4.60011 7.42866 3.89629 8.63265 3.37945C9.83664 2.86261 11.1257 2.60419 12.4998 2.60419C13.874 2.60419 15.163 2.86261 16.367 3.37945C17.571 3.89629 18.6183 4.60011 19.509 5.49091C20.3997 6.38153 21.1036 7.42884 21.6204 8.63283C22.1373 9.83683 22.3957 11.1259 22.3957 12.5C22.3957 13.8742 22.1373 15.1632 21.6204 16.3672C21.1036 17.5712 20.3997 18.6185 19.509 19.5091C18.6183 20.3999 17.571 21.1038 16.367 21.6206C15.163 22.1374 13.874 22.3959 12.4998 22.3959Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");

    }
    header .header_bottom .tnb ul li.login a span::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_85_923' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_85_923)'%3E%3Cpath d='M6.57057 8.85415H15.625V6.77081C15.625 5.90276 15.3212 5.16491 14.7135 4.55727C14.1059 3.94963 13.3681 3.64581 12.5 3.64581C11.6319 3.64581 10.8941 3.94963 10.2865 4.55727C9.67882 5.16491 9.375 5.90276 9.375 6.77081H7.8125C7.8125 5.47012 8.26858 4.36369 9.18073 3.45154C10.0929 2.53939 11.1993 2.08331 12.5 2.08331C13.8007 2.08331 14.9071 2.53939 15.8193 3.45154C16.7314 4.36369 17.1875 5.47012 17.1875 6.77081V8.85415H18.4294C18.9473 8.85415 19.3906 9.03852 19.7594 9.40727C20.1281 9.77602 20.3125 10.2193 20.3125 10.7372V20.5127C20.3125 21.0306 20.1281 21.4739 19.7594 21.8427C19.3906 22.2114 18.9473 22.3958 18.4294 22.3958H6.57057C6.05269 22.3958 5.60938 22.2114 5.24063 21.8427C4.87188 21.4739 4.6875 21.0306 4.6875 20.5127V10.7372C4.6875 10.2193 4.87188 9.77602 5.24063 9.40727C5.60938 9.03852 6.05269 8.85415 6.57057 8.85415ZM12.5 17.4479C13.0061 17.4479 13.4365 17.2706 13.7911 16.9161C14.1457 16.5614 14.3229 16.1311 14.3229 15.625C14.3229 15.1189 14.1457 14.6885 13.7911 14.3338C13.4365 13.9793 13.0061 13.8021 12.5 13.8021C11.9939 13.8021 11.5635 13.9793 11.2089 14.3338C10.8543 14.6885 10.6771 15.1189 10.6771 15.625C10.6771 16.1311 10.8543 16.5614 11.2089 16.9161C11.5635 17.2706 11.9939 17.4479 12.5 17.4479Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    } */
    header .header_bottom .gnb button {
        position: absolute;
        right: 0;
        top: 0;
        width: 57px;
        height: 50px;
        font-size: 0;
        line-height: 0;
    }
    header .header_bottom .gnb button.gnb_open,
    header.fixed .header_bottom .gnb button.gnb_open {
        display: block;
    }
    header .header_bottom .gnb button.gnb_close {
        display: none;
    }
    header .header_bottom .gnb button.gnb_open::before,
    header .header_bottom .gnb button.gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; 
        transform: translate(-50%, -50%);
        width: 25px;
        height: 25px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    header .header_bottom .gnb button.gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='24' viewBox='0 0 40 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 4H38C38.5304 4 39.0391 3.78929 39.4142 3.41421C39.7893 3.03914 40 2.53043 40 2C40 1.46957 39.7893 0.96086 39.4142 0.585787C39.0391 0.210714 38.5304 0 38 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585787C0.210714 0.96086 0 1.46957 0 2C0 2.53043 0.210714 3.03914 0.585786 3.41421C0.960859 3.78929 1.46957 4 2 4ZM38 20H2C1.46957 20 0.960859 20.2107 0.585786 20.5858C0.210714 20.9609 0 21.4696 0 22C0 22.5304 0.210714 23.0391 0.585786 23.4142C0.960859 23.7893 1.46957 24 2 24H38C38.5304 24 39.0391 23.7893 39.4142 23.4142C39.7893 23.0391 40 22.5304 40 22C40 21.4696 39.7893 20.9609 39.4142 20.5858C39.0391 20.2107 38.5304 20 38 20ZM38 10H2C1.46957 10 0.960859 10.2107 0.585786 10.5858C0.210714 10.9609 0 11.4696 0 12C0 12.5304 0.210714 13.0391 0.585786 13.4142C0.960859 13.7893 1.46957 14 2 14H38C38.5304 14 39.0391 13.7893 39.4142 13.4142C39.7893 13.0391 40 12.5304 40 12C40 11.4696 39.7893 10.9609 39.4142 10.5858C39.0391 10.2107 38.5304 10 38 10Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .header_bottom .gnb button.gnb_close::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_92_6456' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_92_6456)'%3E%3Cpath d='M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .header_bottom .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
    }
    header .header_bottom .gnb .gnb_wrap ul.depth1 {
        display: block;
        margin-top: 50px;
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    header .header_bottom .gnb .gnb_wrap ul.depth1 > li {
        width: auto;
    }
    header .header_bottom .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 18px;
        font-weight: 600;
        line-height: 2.5;
        padding: 0 20px;
        color: var(--txt-color-tit);
        border-bottom: 1px solid var(--txt-color-gray2);
    }
    header .header_bottom .gnb .gnb_wrap ul.depth1 > li:first-child > a {
        border-top: 1px solid var(--txt-color-gray2);
    }
    header .header_bottom .gnb .gnb_wrap ul.depth1 > li > a {
        position: relative;
    }
    header .header_bottom .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 20px;
        top: 12px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_92_6429' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_92_6429)'%3E%3Cpath d='M12 15.4L6 9.4L7.4 8L12 12.6L16.6 8L18 9.4L12 15.4Z' fill='%23999999'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .header_bottom .gnb .gnb_wrap ul.depth2 {
        display: none;
        font-size: 13px;
        padding: 10px 0;
        background-color: rgba(213, 220, 204, 0.5);
        font-weight: 400;
        border-bottom: 1px solid var(--txt-color-gray2);
    }
    header .header_bottom .gnb .gnb_wrap ul.depth2 > li > a {
        line-height: 2;
        padding: 0 30px;
    }
    /* header에 menu_open */
    header.menu_open .header_bottom .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .header_bottom .gnb button.gnb_open {
        display: none;
    }
    header.menu_open .header_bottom .gnb button.gnb_close {
        display: block;
    }
    header.menu_open .header_bottom .gnb .gnb_wrap ul.depth1 {
        display: block;
    }
    header.menu_open .header_bottom .header_top .tnb a::after {
        left: 0;
    }

    /* ul.depth1 li에 open 클래스 */
    header.menu_open .header_bottom .gnb .gnb_wrap ul.depth1 > li.open ul.depth2 {
        display: block;
    }
    header.menu_open .header_bottom .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_92_6444' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_92_6444)'%3E%3Cpath d='M12 10.8L7.4 15.4L6 14L12 8L18 14L16.6 15.4L12 10.8Z' fill='%23999999'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}

footer {
    margin-top: 100px;
    font-weight: 100;
    background-color: var(--color-main);
    color: var(--txt-color-white);
    padding: 65px 0;
}
footer .wrapper {
    display: flex;
    position: relative;
}
footer .top button {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid var(--txt-color-gray);
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}
footer .top button::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_47_2605' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_47_2605)'%3E%3Cpath d='M4.5 5V3.5H19.5V5H4.5ZM11.25 20.5V10.2038L8.4 13.0538L7.34625 12L12 7.34625L16.6538 12L15.6 13.0538L12.75 10.2038V20.5H11.25Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
footer .top button:hover {
    background-color: var(--txt-color-white);
}
footer .top button:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_44_2403' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_44_2403)'%3E%3Cpath d='M4.5 5V3.5H19.5V5H4.5ZM11.25 20.5V10.2038L8.4 13.0538L7.34625 12L12 7.34625L16.6538 12L15.6 13.0538L12.75 10.2038V20.5H11.25Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
} 
footer .f_logo {
    width: 190px;
    height: 107px;
    background: url(../images/common/logo_white.png) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
    margin-right: 10%;
}
footer .sns {
    position: absolute;
    left: 50px;
    bottom: 0;
}
footer .sns ul {
    display: flex;
    gap: 15px;
}
footer .sns ul li a {
    display: block;
    width: 25px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
footer .sns ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .sns ul li.youtube a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' viewBox='0 0 25 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_44_2401)'%3E%3Cpath d='M25 5.48343C25 2.45166 22.5414 0 19.5166 0H5.48343C2.45856 0 0 2.45856 0 5.48343V12.0097C0 15.0414 2.45856 17.4931 5.48343 17.4931H19.5097C22.5414 17.4931 24.9931 15.0345 24.9931 12.0097V5.48343H25ZM16.7472 9.24033L10.4558 12.355C10.2072 12.4862 9.37155 12.3066 9.37155 12.0304V5.64226C9.37155 5.35912 10.2141 5.17956 10.4627 5.31768L16.4848 8.59116C16.7403 8.73619 17.0028 9.10221 16.7472 9.24033Z' fill='%23D9D9D9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_44_2401'%3E%3Crect width='25' height='17.5' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.twitter a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_44_2406)'%3E%3Cpath d='M24.9019 2.46626C24.1105 2.82439 23.2325 3.04389 22.3718 3.1883C22.7762 3.11898 23.3769 2.38539 23.6137 2.08502C23.9777 1.62869 24.2838 1.11459 24.4513 0.554287C24.4744 0.508077 24.4918 0.45609 24.4513 0.421432C24.3936 0.398326 24.3589 0.409879 24.3185 0.432984C23.3596 0.947079 22.3718 1.31676 21.3205 1.58248C21.2339 1.60558 21.1704 1.58248 21.1126 1.53049C21.0259 1.43229 20.9451 1.33987 20.8527 1.26478C20.4079 0.889315 19.9342 0.594722 19.4028 0.375221C18.6981 0.0864038 17.9298 -0.0348993 17.1731 0.0170878C16.4395 0.0632985 15.7117 0.271247 15.059 0.612051C14.4063 0.952855 13.8171 1.43229 13.355 2.00415C12.8755 2.59911 12.5174 3.29805 12.3383 4.0432C12.165 4.75946 12.1766 5.46995 12.2863 6.19777C12.3037 6.31908 12.2863 6.3364 12.1824 6.31908C8.05806 5.70101 4.64424 4.22804 1.8716 1.06838C1.7503 0.92975 1.68676 0.92975 1.58856 1.07993C0.375529 2.89948 0.964716 5.81653 2.47812 7.24907C2.68029 7.43969 2.88824 7.6303 3.11351 7.80359C3.03265 7.82092 2.02179 7.71117 1.12645 7.24907C1.00515 7.17397 0.947387 7.21441 0.935834 7.35304C0.924281 7.54944 0.935834 7.7285 0.970492 7.94223C1.20155 9.78488 2.47812 11.4889 4.22835 12.1532C4.4363 12.2398 4.66735 12.3149 4.88685 12.3554C4.48828 12.442 4.07816 12.5055 2.94022 12.4131C2.79582 12.3842 2.74383 12.4593 2.79582 12.5922C3.65649 14.9316 5.50492 15.6248 6.89124 16.0233C7.07608 16.058 7.26093 16.058 7.45155 16.0984C7.43999 16.1157 7.42844 16.1157 7.41689 16.1331C6.95478 16.832 5.36051 17.3577 4.62114 17.6176C3.26948 18.0913 1.80228 18.2992 0.375529 18.1606C0.144475 18.1259 0.0982646 18.1317 0.0347248 18.1606C-0.0288149 18.201 0.0289485 18.253 0.0982646 18.3108C0.387082 18.5014 0.681675 18.6689 0.982045 18.8364C1.88893 19.3158 2.83625 19.6971 3.824 19.9743C8.93029 21.3838 14.6777 20.3498 18.5075 16.5432C21.5169 13.5511 22.574 9.42675 22.574 5.30244C22.574 5.1407 22.7646 5.05406 22.8801 4.96741C23.6657 4.37822 24.2954 3.67351 24.8788 2.88793C25.0116 2.70886 25.0116 2.5529 25.0116 2.48936V2.46626C25.0116 2.40272 25.0116 2.42005 24.9076 2.46626H24.9019Z' fill='%23D9D9D9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_44_2406'%3E%3Crect width='25' height='20.5811' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .sns ul li.instagram a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_44_2408)'%3E%3Cpath d='M15.2906 3.56982C14.6451 3.56982 14.1174 4.09747 14.1174 4.74299C14.1174 5.38852 14.6451 5.91616 15.2906 5.91616C15.9361 5.91616 16.4638 5.38852 16.4638 4.74299C16.4638 4.09747 15.9361 3.56982 15.2906 3.56982Z' fill='%23D9D9D9'/%3E%3Cpath d='M10.0815 5.07422C7.3647 5.07422 5.15869 7.28584 5.15869 9.99704C5.15869 12.7082 7.37031 14.9199 10.0815 14.9199C12.7927 14.9199 15.0043 12.7082 15.0043 9.99704C15.0043 7.28584 12.7927 5.07422 10.0815 5.07422ZM10.0815 13.1517C8.3414 13.1517 6.92686 11.7371 6.92686 9.99704C6.92686 8.25693 8.3414 6.84239 10.0815 6.84239C11.8216 6.84239 13.2362 8.25693 13.2362 9.99704C13.2362 11.7371 11.8216 13.1517 10.0815 13.1517Z' fill='%23D9D9D9'/%3E%3Cpath d='M13.9882 20H6.00617C2.69436 20 0 17.3056 0 13.9938V6.01179C0 2.69436 2.69436 0 6.00617 0H13.9882C17.3 0 19.9944 2.69436 19.9944 6.00617V13.9882C19.9944 17.3 17.3 19.9944 13.9882 19.9944V20ZM6.00617 1.88044C3.73281 1.88044 1.88044 3.73281 1.88044 6.00617V13.9882C1.88044 16.2616 3.73281 18.1139 6.00617 18.1139H13.9882C16.2616 18.1139 18.1139 16.2616 18.1139 13.9882V6.00617C18.1139 3.73281 16.2616 1.88044 13.9882 1.88044H6.00617Z' fill='%23D9D9D9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_44_2408'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .family {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 220px;
    color: var(--txt-color-tit);
}
footer .family button {
    width: 100%;
    height: 40px;
    border: 1px solid var(--txt-color-gray);
    border-radius: 25px;
    text-align: left;
    padding-left: 30px;
    position: relative;
}
footer .family button::after {
    position: absolute;
    right: 20px;
    top: 7px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_44_2417' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_44_2417)'%3E%3Cpath d='M7.59619 13.7499L11.9999 9.34619L16.4037 13.7499H7.59619Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
footer .family button.family_open {
    color: var(--txt-color-white);
}
footer .family button:hover {
    background-color: var(--txt-color-white);
    font-weight: 400;
    color: var(--txt-color-tit);
}
footer .family button:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_44_2417' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_44_2417)'%3E%3Cpath d='M7.59619 13.7499L11.9999 9.34619L16.4037 13.7499H7.59619Z' fill='%231D1D1D' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .family button.family_colse {
    display: none;
    background-color: var(--txt-color-white);
    font-weight: 400;
}
footer .family button.family_colse::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_47_2602' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_47_2602)'%3E%3Cpath d='M11.9999 14.6537L7.59619 10.25H16.4037L11.9999 14.6537Z' fill='%233D3D3D' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .family ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    background-color: var(--txt-color-white);
    border: 1px solid var(--txt-color-gray);
    border-radius: 25px;
    padding: 10px 30px;
    font-weight: 400;
}
footer .family ul li a {
    display: block;
    line-height: 1.8;
}
footer .family ul li a:hover {
    text-decoration: underline;
}
/* family에 open 클래스 추가 */
footer .family.open button.family_open {
    display: none;
}
footer .family.open button.family_colse {
    display: block;
}
footer .family.open ul {
    display: block;
}
footer .f_inner {
    line-height: 2;
    letter-spacing: 0.02em;
}
footer .f_inner .f_nav ul {
    display: flex;
}
footer .f_inner .f_nav ul li {
    margin: 0 25px;
    position: relative;
}
footer .f_inner .f_nav ul li:first-child {
    margin-left: 0;
}
footer .f_inner .f_nav ul li::after {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translate(0, -50%);
    width: 2px;
    height: 50%;
    background-color: var(--txt-color-gray);
    content: "";
}
footer .f_inner .f_nav ul li:last-child:after  {
    display: none;
}
footer .f_inner .f_nav ul li a span {
    font-weight: 400;
}
footer .f_inner .f_info {
    margin: 20px 0;
    width: 500px;
}
footer .f_inner .f_info span {
    margin-right: 10px;
}
footer .f_inner .copyrignt {
    color: var(--txt-color-w60);
}

@media screen and (max-width:1300px) {
    footer .family {
        width: 210px;
    }
}
@media screen and (max-width:1024px) {
    footer {
        margin-top: 50px;
        padding: 25px 0 50px 0;
        text-align: center;
    }
    footer .wrapper {
        display: block;
    }
    footer .f_logo {
        width: 121px;
        height: 68px;
        margin: 0 auto;
    }
    footer .sns {
        position: relative;
        left: auto;
        margin: 25px 0;
    }
    footer .sns ul {
        justify-content: center;
    }

    footer .family {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }
    footer .f_inner {
        text-align: center;
        margin-top: 30px;
    }
    footer .f_inner .f_nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    footer .f_inner .f_nav ul li {
        margin: 0 15px;
    }
    footer .f_inner .f_nav ul li::after {
        right: -15px;
        width: 1px;
        height: 50%;
    }
    footer .f_inner .f_info {
        margin: 20px auto;
        width: auto;
    }
}
