@import url(default.css);
@import url(fonts.css);

/* 기본글자의 스타일은 모든 태그를 감싸는 html body에 선언 */
html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.2; /* 행간 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지의 넓이를 제한하고 가운데 정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

header {
    height: 100px;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 24px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    padding: 42px 25px 34px 25px;
    display: block; /* a는 inline 태그라 padding 값을 적용하기 위해서 */
}
header .gnb ul li a:hover { 
    color: #0F0460;
    font-weight: 700;
}

.visual {
    height: 700px;
    background-image: url(../images/visual_bg_test.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background 속성을 한번에 선언하는 방법 */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #ffffff;
    text-align: center;
}
.visual strong {
    padding: 295px 0 0 0;
    display: block; /* inline 요소는 여백 적용 안됨 */
}
.visual h2 {
    font-size: 50px;
}