/* header와 footer처럼 페이지에 공통으로 배치되는 요소의 css */

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /* focus가 될때만 나타나야 하기 때문에 위에 숨겨져 있어야 함 */
    z-index: 999999999999; 
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #ED1C24;
    text-align: center;
    color: #fff;
}
.skip_nav a:focus {
    top: 100px;
    /* a에 포커스 되면 올라간 만큼 내려옴 */
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    color: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* 길이 늘어남 방지 */
}
header .logo {
    margin-top: 20px;
}
header .logo a {
    width: 131px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    display: block;
    position: relative;
}
header .logo a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='147' height='51' viewBox='0 0 147 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M122 9.93323C122 10.2788 122.05 10.6369 122.189 10.9762C122.798 12.4841 124.35 13.4139 126.324 12.6286C126.795 12.4401 139.848 7.18133 139.848 7.18133C139.848 7.18133 134.707 20.212 134.513 20.6958C133.765 22.5618 134.663 24.2519 136.191 24.8174C136.53 24.943 136.882 25.0059 137.227 24.9996C138.478 24.9933 139.578 24.2582 140.118 22.788C140.2 22.5681 146.629 4.91949 146.767 4.49854C146.849 4.24723 147 3.65663 147 3.24825C147 2.37493 146.679 1.55187 146.057 0.929866C145.448 0.314144 144.631 0 143.77 0C143.349 0 143.009 0.0753945 142.494 0.238749C142.186 0.339275 125.614 6.50278 124.2 7.03054C122.786 7.5583 122 8.68922 122.006 9.93323' fill='%23ED1C24'/%3E%3Cpath d='M80.8952 25.1678V24.7096H68.6854V27.8327H75.7791C73.9313 33.6818 67.3262 37.118 67.3262 37.118L69.0901 39.5844C69.0901 39.5844 80.8952 34.7127 80.8952 25.1601V25.1678Z' fill='white'/%3E%3Cpath d='M77.0395 45.9069V39.8364H72.71V46.6782C72.71 48.8162 74.4128 50.3587 76.7494 50.3587H90.1657V47.2432H78.5514C77.4977 47.2432 77.0548 46.8233 77.0319 45.9069H77.0395Z' fill='white'/%3E%3Cpath d='M80.4062 30.4671V33.5902H85.5605V41.1192H89.8901V24.3813H85.5605V30.4671H80.4062Z' fill='white'/%3E%3Cpath d='M117.716 36.9271H122.046V24.2514H117.716V28.1992H113.203V31.2841H117.716V36.9271Z' fill='white'/%3E%3Cpath d='M20.6014 39.5997H4.12305V46.6782C4.12305 48.8162 5.82586 50.3587 8.16245 50.3587H21.5635V40.5618C21.5635 40.0273 21.1283 39.5997 20.6014 39.5997ZM17.2339 47.2432H9.96453C8.91078 47.2432 8.46026 46.8309 8.44498 45.9069V42.7304H17.2339V47.2432Z' fill='white'/%3E%3Cpath d='M21.854 24.7554V24.6103H3.88669V27.7334H17.3259C17.3259 27.9396 17.3259 28.1992 17.3259 28.4512C17.3259 31.3528 17.1808 33.2618 17.1045 34.0407H0V37.1638H26.3516V34.0407H20.9606C21.2203 33.0633 21.8617 30.0395 21.8617 24.7554H21.854Z' fill='white'/%3E%3Cpath d='M48.7628 41.1727C52.3593 40.3862 55.0166 37.6907 55.0166 34.4989C55.0166 32.7808 54.2454 31.2078 52.9778 29.9937H57.5747V26.8706H48.7628V23.9231H44.4409V26.8706H35.629V29.9937H40.2258C38.9583 31.2078 38.187 32.7731 38.187 34.4989C38.187 37.6983 40.8444 40.3862 44.4485 41.1727V44.3339H33.4375V47.457H59.7815V44.3339H48.7704V41.1727H48.7628ZM42.6312 34.3996C42.6312 32.2692 44.4103 30.5282 46.5942 30.5282C48.7781 30.5282 50.5573 32.2615 50.5573 34.3996C50.5573 36.5377 48.7781 38.271 46.5942 38.271C44.4103 38.271 42.6312 36.5377 42.6312 34.3996Z' fill='white'/%3E%3Cpath d='M109.438 36.6598H113.63C113.455 35.6442 111.92 27.4433 107.926 24.6027H103.093L99.374 36.7591H103.719L106.193 28.0083C108.278 30.4518 109.293 35.8581 109.431 36.6598H109.438Z' fill='white'/%3E%3Cpath d='M110.301 47.3501C109.202 47.3501 109.003 47.0676 109.003 46.136V45.7466H122.053V39.1797C122.053 38.6146 121.641 38.1718 121.053 38.1718H104.75V41.1803H117.907V42.7915H104.865V46.6782C104.865 48.9308 106.483 50.3587 108.904 50.3587H122.336V47.3501H110.301Z' fill='white'/%3E%3C/svg%3E%0A");
    content: "";
}
header.fixed { /* header에 오버하거나 하단으로 스크롤 했을 때  */
    position: fixed;
    background: #fff;
    color: #3d3d3d;
}
header.fixed .gnb_wrap > .depth1 > li > a { 
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='147' height='51' viewBox='0 0 147 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M122 9.93323C122 10.2788 122.05 10.6369 122.189 10.9762C122.798 12.4841 124.35 13.4139 126.324 12.6286C126.795 12.4401 139.848 7.18133 139.848 7.18133C139.848 7.18133 134.707 20.212 134.513 20.6958C133.765 22.5618 134.663 24.2519 136.191 24.8174C136.53 24.943 136.882 25.0059 137.227 24.9996C138.478 24.9933 139.578 24.2582 140.118 22.788C140.2 22.5681 146.629 4.91949 146.767 4.49854C146.849 4.24723 147 3.65663 147 3.24825C147 2.37493 146.679 1.55187 146.057 0.929866C145.448 0.314144 144.631 0 143.77 0C143.349 0 143.009 0.0753945 142.494 0.238749C142.186 0.339275 125.614 6.50278 124.2 7.03054C122.786 7.5583 122 8.68922 122.006 9.93323' fill='%23ED1C24'/%3E%3Cpath d='M80.8952 25.1678V24.7096H68.6854V27.8327H75.7791C73.9313 33.6818 67.3262 37.118 67.3262 37.118L69.0901 39.5844C69.0901 39.5844 80.8952 34.7127 80.8952 25.1601V25.1678Z' fill='%23454B52'/%3E%3Cpath d='M77.039 45.907V39.8364H72.7095V46.6782C72.7095 48.8163 74.4123 50.3587 76.7489 50.3587H90.1652V47.2433H78.551C77.4972 47.2433 77.0543 46.8233 77.0314 45.907H77.039Z' fill='%23454B52'/%3E%3Cpath d='M80.4062 30.4671V33.5902H85.5605V41.1192H89.8901V24.3812H85.5605V30.4671H80.4062Z' fill='%23454B52'/%3E%3Cpath d='M117.715 36.9271H122.045V24.2515H117.715V28.1992H113.203V31.2842H117.715V36.9271Z' fill='%23454B52'/%3E%3Cpath d='M20.6019 39.5996H4.12354V46.6781C4.12354 48.8162 5.82635 50.3586 8.16294 50.3586H21.564V40.5617C21.564 40.0272 21.1288 39.5996 20.6019 39.5996ZM17.2344 47.2432H9.96502C8.91126 47.2432 8.46074 46.8308 8.44547 45.9069V42.7303H17.2344V47.2432Z' fill='%23454B52'/%3E%3Cpath d='M21.854 24.7554V24.6104H3.88669V27.7334H17.3259C17.3259 27.9396 17.3259 28.1992 17.3259 28.4512C17.3259 31.3529 17.1808 33.2619 17.1045 34.0407H0V37.1638H26.3516V34.0407H20.9606C21.2203 33.0633 21.8617 30.0395 21.8617 24.7554H21.854Z' fill='%23454B52'/%3E%3Cpath d='M48.7633 41.1727C52.3598 40.3862 55.0171 37.6907 55.0171 34.4989C55.0171 32.7808 54.2459 31.2078 52.9783 29.9937H57.5752V26.8706H48.7633V23.9231H44.4414V26.8706H35.6295V29.9937H40.2263C38.9588 31.2078 38.1875 32.7731 38.1875 34.4989C38.1875 37.6983 40.8448 40.3862 44.449 41.1727V44.3339H33.438V47.457H59.782V44.3339H48.7709V41.1727H48.7633ZM42.6316 34.3996C42.6316 32.2692 44.4108 30.5282 46.5947 30.5282C48.7786 30.5282 50.5577 32.2615 50.5577 34.3996C50.5577 36.5377 48.7786 38.271 46.5947 38.271C44.4108 38.271 42.6316 36.5377 42.6316 34.3996Z' fill='%23454B52'/%3E%3Cpath d='M109.438 36.6598H113.63C113.455 35.6442 111.92 27.4432 107.926 24.6027H103.093L99.374 36.7591H103.719L106.193 28.0083C108.278 30.4518 109.293 35.858 109.431 36.6598H109.438Z' fill='%23454B52'/%3E%3Cpath d='M110.301 47.3501C109.202 47.3501 109.003 47.0676 109.003 46.136V45.7466H122.053V39.1797C122.053 38.6146 121.641 38.1718 121.053 38.1718H104.75V41.1803H117.907V42.7915H104.865V46.6782C104.865 48.9308 106.483 50.3587 108.904 50.3587H122.336V47.3501H110.301Z' fill='%23454B52'/%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px){ /* 1025px 이상일 경우- pc형 */
    header .gnb button {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 160px;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /* li와 사이즈 동일 */
        line-height: 100px; /* header 가운데 위치 */
        font-size: 20px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        color: #ED1C24;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -10px;
        top: -5px;
        width: 9px;
        height: 9px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.57596C0 3.70036 0.0180968 3.82929 0.0678705 3.95143C0.287328 4.49427 0.846151 4.82902 1.55656 4.54629C1.72624 4.47844 6.42534 2.58528 6.42534 2.58528C6.42534 2.58528 4.57466 7.27633 4.50452 7.45049C4.23529 8.12225 4.55882 8.73069 5.10859 8.93425C5.23077 8.97949 5.35747 9.00211 5.4819 8.99985C5.93213 8.99758 6.32805 8.73295 6.52262 8.20368C6.55203 8.12451 8.86651 1.77102 8.91629 1.61947C8.9457 1.529 9 1.31639 9 1.16937C9 0.854974 8.88461 0.558674 8.66063 0.334752C8.44118 0.113092 8.14706 0 7.8371 0C7.68552 0 7.56335 0.027142 7.37783 0.0859498C7.26697 0.122139 1.3009 2.341 0.791855 2.53099C0.282805 2.72099 -1.24275e-06 3.12812 0.0022612 3.57596' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 100px; /* header 높이만큼 */
        width: 100%;
        padding-top: 15px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
    }
    /* a태그 중에서 target="_blank"이 선언된 태그에만 스타일 주기 */
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span { 
        padding-right: 20px; /* 아이콘이 들어갈 자리, 아이콘 포함해서 가운데 정렬 */
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 0;
        top: 8px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_624' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_624)'%3E%3Cpath d='M3.125 13.125C2.78125 13.125 2.48698 13.0026 2.24219 12.7578C1.9974 12.513 1.875 12.2188 1.875 11.875V3.125C1.875 2.78125 1.9974 2.48698 2.24219 2.24219C2.48698 1.9974 2.78125 1.875 3.125 1.875H7.5V3.125H3.125V11.875H11.875V7.5H13.125V11.875C13.125 12.2188 13.0026 12.513 12.7578 12.7578C12.513 13.0026 12.2188 13.125 11.875 13.125H3.125ZM6.0625 9.8125L5.1875 8.9375L11 3.125H8.75V1.875H13.125V6.25H11.875V4L6.0625 9.8125Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        width: 16px;
        height: 16px;        
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_624' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_624)'%3E%3Cpath d='M3.125 13.125C2.78125 13.125 2.48698 13.0026 2.24219 12.7578C1.9974 12.513 1.875 12.2188 1.875 11.875V3.125C1.875 2.78125 1.9974 2.48698 2.24219 2.24219C2.48698 1.9974 2.78125 1.875 3.125 1.875H7.5V3.125H3.125V11.875H11.875V7.5H13.125V11.875C13.125 12.2188 13.0026 12.513 12.7578 12.7578C12.513 13.0026 12.2188 13.125 11.875 13.125H3.125ZM6.0625 9.8125L5.1875 8.9375L11 3.125H8.75V1.875H13.125V6.25H11.875V4L6.0625 9.8125Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #1d1d1d;
    }
    header .tnb  {
        display: flex;
        margin-top: 44px;
    }
    header .tnb .lang {
        display: block;
        padding-left: 22px; /* 왼쪽에 들어가는 아이콘 자리 - 아이콘을 클릭해도 링크가 적용되어야 함 */
        margin-right: 30px;
        position: relative;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 19px;
        height: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cmask id='mask0_16_443' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_443)'%3E%3Cpath d='M9.99967 17.9167C8.91426 17.9167 7.88995 17.7086 6.92676 17.2925C5.96356 16.8764 5.12356 16.3099 4.40676 15.5929C3.68981 14.8761 3.12329 14.0361 2.70717 13.0729C2.29106 12.1097 2.08301 11.0854 2.08301 10C2.08301 8.90598 2.29106 7.87952 2.70717 6.92064C3.12329 5.96175 3.68981 5.1239 4.40676 4.40709C5.12356 3.69015 5.96356 3.12362 6.92676 2.70751C7.88995 2.2914 8.91426 2.08334 9.99967 2.08334C11.0937 2.08334 12.1202 2.2914 13.0791 2.70751C14.0379 3.12362 14.8758 3.69015 15.5926 4.40709C16.3095 5.1239 16.8761 5.96175 17.2922 6.92064C17.7083 7.87952 17.9163 8.90598 17.9163 10C17.9163 11.0854 17.7083 12.1097 17.2922 13.0729C16.8761 14.0361 16.3095 14.8761 15.5926 15.5929C14.8758 16.3099 14.0379 16.8764 13.0791 17.2925C12.1202 17.7086 11.0937 17.9167 9.99967 17.9167ZM9.99967 16.649C10.425 16.0849 10.7829 15.5161 11.0734 14.9423C11.364 14.3686 11.6006 13.7414 11.7834 13.0608H8.21592C8.4094 13.7628 8.64877 14.4006 8.93405 14.9744C9.21919 15.5481 9.5744 16.1063 9.99967 16.649ZM8.38592 16.4198C8.06648 15.9615 7.7796 15.4404 7.5253 14.8567C7.27099 14.2728 7.07335 13.6742 6.93238 13.0608H4.10551C4.54565 13.9263 5.13592 14.6533 5.87634 15.2421C6.61676 15.8307 7.45329 16.2233 8.38592 16.4198ZM11.6134 16.4198C12.5461 16.2233 13.3826 15.8307 14.123 15.2421C14.8634 14.6533 15.4537 13.9263 15.8938 13.0608H13.067C12.8992 13.6795 12.6881 14.2807 12.4338 14.8646C12.1797 15.4485 11.9062 15.9669 11.6134 16.4198ZM3.58134 11.8108H6.67926C6.6269 11.5011 6.58891 11.1974 6.5653 10.8998C6.54183 10.6023 6.53009 10.3024 6.53009 10C6.53009 9.69765 6.54183 9.39772 6.5653 9.10022C6.58891 8.80258 6.6269 8.4989 6.67926 8.18918H3.58134C3.5012 8.47223 3.43981 8.76654 3.39717 9.07209C3.3544 9.37765 3.33301 9.68695 3.33301 10C3.33301 10.3131 3.3544 10.6224 3.39717 10.9279C3.43981 11.2335 3.5012 11.5278 3.58134 11.8108ZM7.92905 11.8108H12.0703C12.1225 11.5011 12.1604 11.2001 12.184 10.9079C12.2075 10.6157 12.2193 10.3131 12.2193 10C12.2193 9.68695 12.2075 9.38432 12.184 9.09209C12.1604 8.79987 12.1225 8.4989 12.0703 8.18918H7.92905C7.87683 8.4989 7.83891 8.79987 7.8153 9.09209C7.79183 9.38432 7.78009 9.68695 7.78009 10C7.78009 10.3131 7.79183 10.6157 7.8153 10.9079C7.83891 11.2001 7.87683 11.5011 7.92905 11.8108ZM13.3201 11.8108H16.418C16.4981 11.5278 16.5595 11.2335 16.6022 10.9279C16.645 10.6224 16.6663 10.3131 16.6663 10C16.6663 9.68695 16.645 9.37765 16.6022 9.07209C16.5595 8.76654 16.4981 8.47223 16.418 8.18918H13.3201C13.3725 8.4989 13.4104 8.80258 13.434 9.10022C13.4575 9.39772 13.4693 9.69765 13.4693 10C13.4693 10.3024 13.4575 10.6023 13.434 10.8998C13.4104 11.1974 13.3725 11.5011 13.3201 11.8108ZM13.067 6.93918H15.8938C15.4484 6.06307 14.8622 5.33598 14.1351 4.75793C13.408 4.18001 12.5675 3.78473 11.6134 3.57209C11.9329 4.05709 12.217 4.58758 12.4659 5.16355C12.715 5.73938 12.9153 6.33126 13.067 6.93918ZM8.21592 6.93918H11.7834C11.59 6.24251 11.3466 5.60064 11.0534 5.01355C10.7601 4.42647 10.4088 3.8723 9.99967 3.35105C9.59051 3.8723 9.23926 4.42647 8.94592 5.01355C8.65273 5.60064 8.4094 6.24251 8.21592 6.93918ZM4.10551 6.93918H6.93238C7.08405 6.33126 7.2844 5.73938 7.53342 5.16355C7.78231 4.58758 8.06648 4.05709 8.38592 3.57209C7.42648 3.78473 6.58461 4.1814 5.8603 4.76209C5.13585 5.34265 4.55092 6.06834 4.10551 6.93918Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .lang:hover {
        font-weight: 700;
        letter-spacing: -0.04em;
    }
    header .tnb .atera {
        display: block;
        padding-right: 23px;
        position: relative;
    }
    header .tnb .atera::before {
        position: absolute;
        right: 0;
        bottom: -1px;
        width: 19px;
        height: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cmask id='mask0_16_308' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='18' height='18' fill='%233d3d3d'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_308)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .atera:hover {
        font-weight: 700;
        letter-spacing: -0.02em;
    }
    header .tnb .atera:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cmask id='mask0_16_308' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_308)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_39' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_39)'%3E%3Cpath d='M9.99967 17.9166C8.91426 17.9166 7.88995 17.7086 6.92676 17.2925C5.96356 16.8764 5.12356 16.3098 4.40676 15.5929C3.68981 14.8761 3.12329 14.0361 2.70717 13.0729C2.29106 12.1097 2.08301 11.0854 2.08301 9.99998C2.08301 8.90595 2.29106 7.87949 2.70717 6.9206C3.12329 5.96172 3.68981 5.12387 4.40676 4.40706C5.12356 3.69012 5.96356 3.12359 6.92676 2.70748C7.88995 2.29137 8.91426 2.08331 9.99967 2.08331C11.0937 2.08331 12.1202 2.29137 13.0791 2.70748C14.0379 3.12359 14.8758 3.69012 15.5926 4.40706C16.3095 5.12387 16.8761 5.96172 17.2922 6.9206C17.7083 7.87949 17.9163 8.90595 17.9163 9.99998C17.9163 11.0854 17.7083 12.1097 17.2922 13.0729C16.8761 14.0361 16.3095 14.8761 15.5926 15.5929C14.8758 16.3098 14.0379 16.8764 13.0791 17.2925C12.1202 17.7086 11.0937 17.9166 9.99967 17.9166ZM9.99967 16.6489C10.425 16.0849 10.7829 15.516 11.0734 14.9423C11.364 14.3685 11.6006 13.7414 11.7834 13.0608H8.21592C8.4094 13.7628 8.64877 14.4006 8.93405 14.9744C9.21919 15.5481 9.5744 16.1063 9.99967 16.6489ZM8.38592 16.4198C8.06648 15.9614 7.7796 15.4404 7.5253 14.8566C7.27099 14.2728 7.07335 13.6741 6.93238 13.0608H4.10551C4.54565 13.9262 5.13592 14.6533 5.87634 15.2421C6.61676 15.8307 7.45329 16.2232 8.38592 16.4198ZM11.6134 16.4198C12.5461 16.2232 13.3826 15.8307 14.123 15.2421C14.8634 14.6533 15.4537 13.9262 15.8938 13.0608H13.067C12.8992 13.6794 12.6881 14.2807 12.4338 14.8646C12.1797 15.4485 11.9062 15.9669 11.6134 16.4198ZM3.58134 11.8108H6.67926C6.6269 11.5011 6.58891 11.1974 6.5653 10.8998C6.54183 10.6023 6.53009 10.3023 6.53009 9.99998C6.53009 9.69762 6.54183 9.39769 6.5653 9.10019C6.58891 8.80255 6.6269 8.49887 6.67926 8.18915H3.58134C3.5012 8.4722 3.43981 8.76651 3.39717 9.07206C3.3544 9.37762 3.33301 9.68692 3.33301 9.99998C3.33301 10.313 3.3544 10.6223 3.39717 10.9279C3.43981 11.2335 3.5012 11.5278 3.58134 11.8108ZM7.92905 11.8108H12.0703C12.1225 11.5011 12.1604 11.2001 12.184 10.9079C12.2075 10.6157 12.2193 10.313 12.2193 9.99998C12.2193 9.68692 12.2075 9.38428 12.184 9.09206C12.1604 8.79984 12.1225 8.49887 12.0703 8.18915H7.92905C7.87683 8.49887 7.83891 8.79984 7.8153 9.09206C7.79183 9.38428 7.78009 9.68692 7.78009 9.99998C7.78009 10.313 7.79183 10.6157 7.8153 10.9079C7.83891 11.2001 7.87683 11.5011 7.92905 11.8108ZM13.3201 11.8108H16.418C16.4981 11.5278 16.5595 11.2335 16.6022 10.9279C16.645 10.6223 16.6663 10.313 16.6663 9.99998C16.6663 9.68692 16.645 9.37762 16.6022 9.07206C16.5595 8.76651 16.4981 8.4722 16.418 8.18915H13.3201C13.3725 8.49887 13.4104 8.80255 13.434 9.10019C13.4575 9.39769 13.4693 9.69762 13.4693 9.99998C13.4693 10.3023 13.4575 10.6023 13.434 10.8998C13.4104 11.1974 13.3725 11.5011 13.3201 11.8108ZM13.067 6.93915H15.8938C15.4484 6.06304 14.8622 5.33595 14.1351 4.7579C13.408 4.17998 12.5675 3.7847 11.6134 3.57206C11.9329 4.05706 12.217 4.58755 12.4659 5.16352C12.715 5.73935 12.9153 6.33123 13.067 6.93915ZM8.21592 6.93915H11.7834C11.59 6.24248 11.3466 5.60061 11.0534 5.01352C10.7601 4.42644 10.4088 3.87227 9.99967 3.35102C9.59051 3.87227 9.23926 4.42644 8.94592 5.01352C8.65273 5.60061 8.4094 6.24248 8.21592 6.93915ZM4.10551 6.93915H6.93238C7.08405 6.33123 7.2844 5.73935 7.53342 5.16352C7.78231 4.58755 8.06648 4.05706 8.38592 3.57206C7.42648 3.7847 6.58461 4.18137 5.8603 4.76206C5.13585 5.34262 4.55092 6.06831 4.10551 6.93915Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .atera::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_42' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_42)'%3E%3Cpath d='M4.16667 17.5C3.70833 17.5 3.31597 17.3368 2.98958 17.0104C2.66319 16.684 2.5 16.2917 2.5 15.8333V4.16667C2.5 3.70833 2.66319 3.31597 2.98958 2.98958C3.31597 2.66319 3.70833 2.5 4.16667 2.5H10V4.16667H4.16667V15.8333H15.8333V10H17.5V15.8333C17.5 16.2917 17.3368 16.684 17.0104 17.0104C16.684 17.3368 16.2917 17.5 15.8333 17.5H4.16667ZM8.08333 13.0833L6.91667 11.9167L14.6667 4.16667H11.6667V2.5H17.5V8.33333H15.8333V5.33333L8.08333 13.0833Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    /* 메뉴에 마우스 오버 */
    header.menu_over::before {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 380px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: rgba(204, 204, 204, 0.8);
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}
@media screen and (min-width:1025px) and (max-width: 1300px) {
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 140px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
        letter-spacing: -0.02em;
    }
}
@media screen and (max-width: 1024px) { /* 1024px 이하 - mobile 버전 */
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 변경되어도 위아래, 좌우 가운데 정렬 */
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_94' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_94)'%3E%3Cpath d='M3.5 17.6345V16.1348H20.5V17.6345H3.5ZM3.5 12.75V11.25H20.5V12.75H3.5ZM3.5 7.86526V6.36551H20.5V7.86526H3.5Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_66_15' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_66_15)'%3E%3Cpath d='M3.5 17.6345V16.1348H20.5V17.6345H3.5ZM3.5 12.75V11.25H20.5V12.75H3.5ZM3.5 7.86526V6.36551H20.5V7.86526H3.5Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        /* 좌우 스크롤바는 금지, 만약 콘텐츠 길이가 높이보다 길면 세로 스크롤바 생성 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height: 3;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 23px;
        top: 23px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_606' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect y='15' width='15' height='15' transform='rotate(-90 0 15)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_606)'%3E%3Cpath d='M13.75 8.75L7.5 15L1.25 8.75L2.35937 7.64063L7.5 12.7812L12.6406 7.64062L13.75 8.75Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #ED1C24;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_618' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='15' width='15' height='15' transform='rotate(90 15 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_618)'%3E%3Cpath d='M1.25 6.25L7.5 -2.73196e-07L13.75 6.25L12.6406 7.35937L7.5 2.21875L2.35938 7.35937L1.25 6.25Z' fill='%23FF0000'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: rgba(233, 213, 236, 0.6);
        padding: 15px 20px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: none;
        display: block; 
        font-size: 15px;
        line-height: 2;
        position: relative;         
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        left: 60px;
        top: 8px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_624' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_624)'%3E%3Cpath d='M3.125 13.125C2.78125 13.125 2.48698 13.0026 2.24219 12.7578C1.9974 12.513 1.875 12.2188 1.875 11.875V3.125C1.875 2.78125 1.9974 2.48698 2.24219 2.24219C2.48698 1.9974 2.78125 1.875 3.125 1.875H7.5V3.125H3.125V11.875H11.875V7.5H13.125V11.875C13.125 12.2188 13.0026 12.513 12.7578 12.7578C12.513 13.0026 12.2188 13.125 11.875 13.125H3.125ZM6.0625 9.8125L5.1875 8.9375L11 3.125H8.75V1.875H13.125V6.25H11.875V4L6.0625 9.8125Z' fill='%233D3D3D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap .open ul.depth2 > li > a {
        display: block;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 변경되어도 위아래, 좌우 가운데 정렬 */
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_583' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_583)'%3E%3Cpath d='M6.39994 18.6538L5.34619 17.6L10.9462 12L5.34619 6.4L6.39994 5.34625L11.9999 10.9463L17.5999 5.34625L18.6537 6.4L13.0537 12L18.6537 17.6L17.5999 18.6538L11.9999 13.0538L6.39994 18.6538Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none;
        position: absolute;
        left: 17px;
        top: 30px;
        font-size: 15px;
        color: #1d1d1d;
    }
    header .tnb .lang {
        display: block;
        padding-left: 20px; 
        margin-right: 15px;
        position: relative;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 19px;
        height: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_586' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_586)'%3E%3Cpath d='M7.5 13.4375C6.68594 13.4375 5.91771 13.2815 5.19531 12.9694C4.47292 12.6573 3.84292 12.2324 3.30531 11.6947C2.7676 11.1571 2.34271 10.5271 2.03063 9.80469C1.71854 9.08229 1.5625 8.31406 1.5625 7.5C1.5625 6.67948 1.71854 5.90964 2.03063 5.19047C2.34271 4.4713 2.7676 3.84292 3.30531 3.30531C3.84292 2.7676 4.47292 2.34271 5.19531 2.03063C5.91771 1.71854 6.68594 1.5625 7.5 1.5625C8.32052 1.5625 9.09036 1.71854 9.80953 2.03063C10.5287 2.34271 11.1571 2.7676 11.6947 3.30531C12.2324 3.84292 12.6573 4.4713 12.9694 5.19047C13.2815 5.90964 13.4375 6.67948 13.4375 7.5C13.4375 8.31406 13.2815 9.08229 12.9694 9.80469C12.6573 10.5271 12.2324 11.1571 11.6947 11.6947C11.1571 12.2324 10.5287 12.6573 9.80953 12.9694C9.09036 13.2815 8.32052 13.4375 7.5 13.4375ZM7.5 12.4867C7.81896 12.0637 8.0874 11.637 8.30531 11.2067C8.52323 10.7764 8.70073 10.306 8.83781 9.79563H6.16219C6.30729 10.3221 6.48682 10.8005 6.70078 11.2308C6.91464 11.6611 7.18104 12.0797 7.5 12.4867ZM6.28969 12.3148C6.0501 11.9711 5.83495 11.5803 5.64422 11.1425C5.45349 10.7046 5.30526 10.2556 5.19953 9.79563H3.07938C3.40948 10.4447 3.85219 10.99 4.4075 11.4316C4.96281 11.873 5.59021 12.1674 6.28969 12.3148ZM8.71031 12.3148C9.40979 12.1674 10.0372 11.873 10.5925 11.4316C11.1478 10.99 11.5905 10.4447 11.9206 9.79563H9.80047C9.67463 10.2596 9.51635 10.7105 9.32563 11.1484C9.135 11.5864 8.9299 11.9752 8.71031 12.3148ZM2.68625 8.85813H5.00969C4.97042 8.62583 4.94193 8.39807 4.92422 8.17484C4.90661 7.95172 4.89781 7.72677 4.89781 7.5C4.89781 7.27323 4.90661 7.04828 4.92422 6.82516C4.94193 6.60193 4.97042 6.37417 5.00969 6.14188H2.68625C2.62615 6.35417 2.5801 6.5749 2.54813 6.80406C2.51604 7.03323 2.5 7.26521 2.5 7.5C2.5 7.73479 2.51604 7.96677 2.54813 8.19594C2.5801 8.4251 2.62615 8.64583 2.68625 8.85813ZM5.94703 8.85813H9.05297C9.09214 8.62583 9.12057 8.4001 9.13828 8.18094C9.15588 7.96177 9.16469 7.73479 9.16469 7.5C9.16469 7.26521 9.15588 7.03823 9.13828 6.81906C9.12057 6.5999 9.09214 6.37417 9.05297 6.14188H5.94703C5.90786 6.37417 5.87943 6.5999 5.86172 6.81906C5.84411 7.03823 5.83531 7.26521 5.83531 7.5C5.83531 7.73479 5.84411 7.96177 5.86172 8.18094C5.87943 8.4001 5.90786 8.62583 5.94703 8.85813ZM9.99031 8.85813H12.3138C12.3739 8.64583 12.4199 8.4251 12.4519 8.19594C12.484 7.96677 12.5 7.73479 12.5 7.5C12.5 7.26521 12.484 7.03323 12.4519 6.80406C12.4199 6.5749 12.3739 6.35417 12.3138 6.14188H9.99031C10.0296 6.37417 10.0581 6.60193 10.0758 6.82516C10.0934 7.04828 10.1022 7.27323 10.1022 7.5C10.1022 7.72677 10.0934 7.95172 10.0758 8.17484C10.0581 8.39807 10.0296 8.62583 9.99031 8.85813ZM9.80047 5.20438H11.9206C11.5866 4.54729 11.1469 4.00198 10.6016 3.56844C10.0563 3.135 9.42583 2.83854 8.71031 2.67906C8.9499 3.04281 9.16302 3.44068 9.34969 3.87266C9.53646 4.30453 9.68672 4.74844 9.80047 5.20438ZM6.16219 5.20438H8.83781C8.69271 4.68188 8.51021 4.20047 8.29031 3.76016C8.07031 3.31984 7.80688 2.90422 7.5 2.51328C7.19312 2.90422 6.92969 3.31984 6.70969 3.76016C6.48979 4.20047 6.30729 4.68188 6.16219 5.20438ZM3.07938 5.20438H5.19953C5.31328 4.74844 5.46354 4.30453 5.65031 3.87266C5.83698 3.44068 6.0501 3.04281 6.28969 2.67906C5.5701 2.83854 4.9387 3.13604 4.39547 3.57156C3.85214 4.00698 3.41344 4.55125 3.07938 5.20438Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .atera {
        display: block;
        padding-right: 23px;
        position: relative;
    }
    header .tnb .atera::before {
        position: absolute;
        right: 0;
        bottom: -1px;
        width: 19px;
        height: 19px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_589' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_589)'%3E%3Cpath d='M3.125 13.125C2.78125 13.125 2.48698 13.0026 2.24219 12.7578C1.9974 12.513 1.875 12.2188 1.875 11.875V3.125C1.875 2.78125 1.9974 2.48698 2.24219 2.24219C2.48698 1.9974 2.78125 1.875 3.125 1.875H7.5V3.125H3.125V11.875H11.875V7.5H13.125V11.875C13.125 12.2188 13.0026 12.513 12.7578 12.7578C12.513 13.0026 12.2188 13.125 11.875 13.125H3.125ZM6.0625 9.8125L5.1875 8.9375L11 3.125H8.75V1.875H13.125V6.25H11.875V4L6.0625 9.8125Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 10px;
    }
    header .logo a {
        width: 83px;
        height: 27px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    header .tnb {
        top: 15px;
    }
}

footer {
    background-color: #0C0906;
    color: rgba(255, 255, 255, 0.6);
    padding: 50px 0 100px;
}
footer .wrapper {
    position: relative;
}
footer .youtube {
    position: absolute;
    right: 215px;
    top: 0;
}
footer .youtube a {
    display: block;
    width: 46px;
    height: 46px;
    font-size: 0;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    position: relative;
}
footer .youtube a::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 31px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='19' viewBox='0 0 26 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_23_396)'%3E%3Cpath d='M26 5.95343C26 2.6618 23.4431 0 20.2972 0H5.70276C2.55691 0 0 2.6693 0 5.95343V13.0391C0 16.3307 2.55691 18.9925 5.70276 18.9925H20.2901C23.4431 18.9925 25.9928 16.3232 25.9928 13.0391V5.95343H26ZM17.4171 10.0324L10.874 13.414C10.6155 13.5564 9.74641 13.3615 9.74641 13.0616V6.12589C9.74641 5.81847 10.6227 5.62352 10.8812 5.77348L17.1442 9.32755C17.4099 9.485 17.6829 9.8824 17.4171 10.0324Z' fill='%23FF0000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_23_396'%3E%3Crect width='26' height='19' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}
footer .family_site button {
    width: 100%;
    height: 47px;
    background-color: #0C0906;
    border: solid 1px rgba(217, 217, 217, 0.8);
    border-radius: 25px;
    text-align: left;
    padding-left: 20px;
    position: relative;
}
footer .family_site button::after {
    position: absolute;
    right: 20px;
    top: 17px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cmask id='mask0_23_386' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect y='15' width='15' height='15' transform='rotate(-90 0 15)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_386)'%3E%3Cpath d='M13.75 9.98413L12.6406 11.0935L7.5 5.95288L2.35937 11.0935L1.25 9.98413L7.5 3.73413L13.75 9.98413Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
footer .family_site button.famil_close::after {
    transform: rotate(180deg);
}
footer .family_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 47px;
    width: 100%;
    background-color: #0C0906;
    border: solid 1px rgba(217, 217, 217, 0.8);
    border-radius: 25px;
    padding: 20px;
}
footer .family_site ul a {
    display: block;
    line-height: 2;
}
footer .family_site .famil_close {
    display: none;
}
footer .family_site.open .famil_open {
    display: none;
}
footer .family_site.open .famil_close {
    display: block;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 40px;
}
footer .f_nav ul li a em {
    color: #fff;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    margin-top: 50px;
}
@media screen and (max-width: 1024px) {
    footer .f_nav ul li {
        margin-right: 25px;
    }
}
@media screen and (max-width: 768px) {
    footer {
        background-color: #0C0906;
        color: rgba(255, 255, 255, 0.6);
        padding: 0 0 50px 0;
    }
    footer .youtube {
        position: relative;
        right: auto;
        top: -22px;
        text-align: center;
    }
    footer .youtube a {
        display: inline-block;
    }
    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
        margin: 15px 0 30px 0;
    }
    footer .family_site button {
        height: 32px;
    }
    footer .family_site button::after {
        right: 25px;
        top: 8px;
        width: 13px;
        height: 13px;
    }
    footer .f_nav ul {
        flex-wrap: wrap; /* 두 줄 허용 */
    }
    footer .f_nav ul li {
        margin: 0 38px 14px 0;
    }
    footer .copyright {
        margin-top: 30px;
    }
}