@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 400px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li br {
    display: none;
}
.visual ul li h3 {
    font-size: 50px;
    font-weight: 700;
    margin: 40vh 0 0 0;
    padding: 0 20px;
}
.visual .btn_wrap {
    position: absolute;
    left: 50%; /* swiper를 기준으로 가운데 정렬 */
    bottom: 15%;
    transform: translate(-50%, 0); /* btn_wrap 넓이의 절반을 왼쪽으로 이동 -> 가운데 정렬 */
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 width:100% 속성 삭제 */
    display: flex;
    margin-right: 30px;
}
.visual .btn_wrap .paging .swiper-pagination-bullet { /* 현재 선택되지 않은 블릿 */
    width: 257px;
    height: 3px;
    border-radius: 0;
    background-color: rgba(217, 217, 217, 0.3);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before { /* 현재 선택된 블릿 */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #D9D9D9;
    content: "";
    animation-name: visual_count;
    animation-duration: 2.5s; /* 5초 동안 */
    animation-iteration-count: 1; /* 한번만 실행 */
    animation-fill-mode: forwards; /* 애니메이션 종료 후 마지막 상태 유지 - 애니메이션 반복 횟수가 제한되었을 때 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% {width: 0;}
    100% {width: 100%;}
}
.visual .btn_wrap button {
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    position: relative;
    margin-left: 5px;
}
.visual .btn_wrap button.btn_stop,
.visual .btn_wrap button.btn_play {
    width: 20px;
    height: 20px;
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_457' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_457)'%3E%3Cpath d='M7.5 16.5L0 9L7.5 1.5L8.83125 2.83125L2.6625 9L8.83125 15.1687L7.5 16.5Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_460' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_460)'%3E%3Cpath d='M6.01875 16.5L4.6875 15.1687L10.8563 9L4.6875 2.83125L6.01875 1.5L13.5188 9L6.01875 16.5Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_454' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_454)'%3E%3Cpath d='M10.8332 15.8334V4.16669H15.8332V15.8334H10.8332ZM4.1665 15.8334V4.16669H9.1665V15.8334H4.1665ZM12.4998 14.1667H14.1665V5.83335H12.4998V14.1667ZM5.83317 14.1667H7.49984V5.83335H5.83317V14.1667Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_16_451' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='21' height='21'%3E%3Crect x='19.9956' y='20.4224' width='20' height='20' transform='rotate(-178.777 19.9956 20.4224)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_16_451)'%3E%3Cpath d='M7.00345 4.30807L16.0435 10.3358L6.75437 15.9721L7.00345 4.30807ZM8.6048 7.38462L8.48559 12.9667L12.9192 10.2691L8.6048 7.38462Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play { 
    display: none; /* play 중에는 일시정지 버튼만 나옴 */
}
@media screen and (max-width:768px){ /* 모바일 */
    .visual ul li {
        height: 450px; /* 브라우저 높이만큼 */
        min-height: 400px;
    }
    .visual ul li br {
        display: block;
    }
    .visual ul li h3 {
        font-size: 25px;
        letter-spacing: -0.02em;
        margin: 196px 0 0 0;
    }
    .visual .btn_wrap button {
        display: none;
    }
    .visual .btn_wrap .paging {
        margin-right: 0;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet { /* 현재 선택되지 않은 블릿 */
        width: 90px;
        height: 1px;
    }
}

section .tit h2 {
    font-size: 25px;
    color: #FF0000;
    margin: 120px 0 10px 0;
}
section .tit h2 span {
    position: relative;
}
section .tit h2 span::after {
    position: absolute;
    right: -10px;
    top: -5px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.94658C0 8.22303 0.0402151 8.50953 0.150823 8.78095C0.638506 9.98726 1.88034 10.7312 3.45902 10.1029C3.83609 9.95208 14.2785 5.74506 14.2785 5.74506C14.2785 5.74506 10.1659 16.1696 10.01 16.5566C9.41176 18.0495 10.1307 19.4015 11.3524 19.8539C11.6239 19.9544 11.9055 20.0047 12.182 19.9997C13.1825 19.9946 14.0623 19.4066 14.4947 18.2304C14.5601 18.0545 19.7034 3.93559 19.814 3.59883C19.8793 3.39778 20 2.92531 20 2.5986C20 1.89994 19.7436 1.2415 19.2459 0.743893C18.7582 0.251315 18.1046 0 17.4158 0C17.0789 0 16.8074 0.0603156 16.3952 0.190999C16.1488 0.27142 2.8909 5.20222 1.75968 5.62443C0.628457 6.04664 -2.76166e-06 6.95138 0.00502489 7.94658' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    content: "";
}
section .tit p {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 50px 0;
}

@media screen and (max-width:768px) {
    section .tit h2 {
        font-size: 15px;
        margin: 50px 0 5px 0;
    }
    section .tit p {
        font-size: 20px;
        margin: 0 0 20px 0;
    }
    section .tit h2 span::after {
        right: -5px;
        top: -5px;
        width: 7px;
        height: 7px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 7.94658C0 8.22303 0.0402151 8.50953 0.150823 8.78095C0.638506 9.98726 1.88034 10.7312 3.45902 10.1029C3.83609 9.95208 14.2785 5.74506 14.2785 5.74506C14.2785 5.74506 10.1659 16.1696 10.01 16.5566C9.41176 18.0495 10.1307 19.4015 11.3524 19.8539C11.6239 19.9544 11.9055 20.0047 12.182 19.9997C13.1825 19.9946 14.0623 19.4066 14.4947 18.2304C14.5601 18.0545 19.7034 3.93559 19.814 3.59883C19.8793 3.39778 20 2.92531 20 2.5986C20 1.89994 19.7436 1.2415 19.2459 0.743893C18.7582 0.251315 18.1046 0 17.4158 0C17.0789 0 16.8074 0.0603156 16.3952 0.190999C16.1488 0.27142 2.8909 5.20222 1.75968 5.62443C0.628457 6.04664 -2.76166e-06 6.95138 0.00502489 7.94658' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
        content: "";
    }
}

.biz .list ul {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}
.biz .list ul li {
    width: 25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    transition: 0.5s;
    position: relative;
}
.biz .list ul li.biz_1 {
    background-image: url(../images/biz_1.png);
}
.biz .list ul li.biz_2 {
    background-image: url(../images/biz_2.png);
}
.biz .list ul li.biz_3 {
    background-image: url(../images/biz_3.png);
}
.biz .list ul li.biz_4 {
    background-image: url(../images/biz_4.png);
}
.biz .list ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    content: "";
}
.biz .list ul li a {
    display: block;
    height: 600px;
    position: relative;
    z-index: 10;
    /* li의 before가 position 값이 있으면 a보다 더 위에 배치됨
    -> a를 before 위에 배치하려면 a에 position과 z-index 부여 */
}
.biz .list ul li a .inner {
    /* a에 오버했을 때 효과를 부드럽게 주기 위해 absolute(a를 기준으로 정렬) */
    position: absolute;
    left: 5%;
    bottom: 15px;
    width: 90%;
    transition: 0.5s;
}
.biz .list ul li a .inner strong {
    display: block;
    font-size: 15px;
}
.biz .list ul li a .inner h3 {
    font-size: 25px;
    margin: 5px 0;
    transition: 0.5s;
}
.biz .list ul li a .inner p {
    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (min-width:769px) {
    /* 하나의 li에 오버했을 때 */
    .biz .list ul li.on {
        width: 49%;
    }
    .biz .list ul li.off {
        /* width: 17%; */
    }
    .biz .list ul li.on::before {
        opacity: 0;
    }
    .biz .list ul li.off::before {
        opacity: 0.4;
    }
    .biz .list ul li.off a {
        opacity: 0.9;
    }
    .biz .list ul li.on a .inner {
        bottom: 30px;
    }
    .biz .list ul li.on a .inner p {
        color: rgba(255, 255, 255, 0.8);
        opacity: 1;
    }
}
@media screen and (max-width:768px) {
    .biz .list ul {
        display: block;
    }
    .biz .list ul li {
        width: auto;
        margin-bottom: 1px;
    }
    .biz .list ul li a {
        height: 110px;
    }.biz .list ul li a .inner {
        margin: 0;
        /* a에 오버했을 때 효과를 부드럽게 주기 위해 absolute(a를 기준으로 정렬) */
        position: absolute;
        left: 20px;
        bottom: 15px;
        width: calc(100% - 40px);
        transition: 0.5s;
    }
    .biz .list ul li a .inner strong {
        font-size: 10px;
    }
    .biz .list ul li a .inner h3 {
        font-size: 15px;
        margin: 0;
    }
    .biz .list ul li a .inner p {
        display: none;
    }
}

.news .list ul li a {
    display: block;
    border-top: 1px solid #1d1d1d;
}
.news .list ul li a:hover {
    position: relative;
}
.news .list ul li a:hover::before {
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 2px;
    background-color: #1d1d1d;
    content: "";
}
.news .list ul li a .date {
    display: block;
    font-size: 45px;
    color: #1d1d1d;
    margin: 10px 0 20px 0;
}
.news .list ul li a h3 {
    font-size: 25px;
    color: #1d1d1d;
    line-height: 1.4;
    height: 2.8em;  /* 2줄 제한: 행간 * 줄수(단위는 em) */
    overflow: hidden;
}
.news .list ul li a p {
    margin: 10px 0 50px 0;
    line-height: 1.4;
    height: 4.2em;
    overflow: hidden;
    color: #3d3d3d;
}
.news .list {
    position: relative;
}
.news .control .scroll {
    position: relative;
}
.news .control .scroll .swiper-scrollbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}
.news .control .scroll .swiper-scrollbar .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(237, 28, 36, .8);
    border-radius: 10px;
    cursor: pointer; /* 오버하면 마우스가 손가락 모양으로 바뀜 */
}
.news .control .btn_wrap a {
    position: absolute;
    display: block;
    right: 20px;
    top: -25px;
    width: 100%;
    height: 100%;
    text-align: right;
}
.news .control .btn_wrap a span {
    position: relative;
}
.news .control .btn_wrap a span::after {
    position: absolute;
    right: -20px;
    top: -2px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cmask id='mask0_21_110' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_21_110)'%3E%3Cpath d='M9.37516 10.625H4.5835V9.37504H9.37516V4.58337H10.6252V9.37504H15.4168V10.625H10.6252V15.4167H9.37516V10.625Z' fill='%232D2D2D'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.news .control .btn_wrap a:hover {
    font-weight: 700;
}
.news .control .btn_wrap a:hover span::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_79_26' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_79_26)'%3E%3Cpath d='M9.1665 10.8333H4.1665V9.16663H9.1665V4.16663H10.8332V9.16663H15.8332V10.8333H10.8332V15.8333H9.1665V10.8333Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (max-width:1024px) {
    .news .list ul li {
        width: 400px;
    }
}

@media screen and (max-width:768px) {
    .news .list ul li {
        width: 263px;
    }
    .news .list ul li a .date {
        font-size: 25px;
        margin: 10px 0 10px 0;
    }
    .news .list ul li a h3 {
        font-size: 15px;
    }
    .news .list ul li a p {
        margin: 10px 0 30px 0;
        line-height: 1.2;
        height: 3.6em;
        overflow: hidden;
        font-size: 13px;
    }
    .news .control .btn_wrap a {
        position: relative;
        display: block;
        text-align: center;
        padding: 50px 0 0 0;
    }
    .news .control .btn_wrap a span::after {
        right: -15px;
        top: 0;
        width: 15px;
        height: 15px;
    }
    .news .control .btn_wrap a:hover {
        font-weight: 700;
    }
}

.service {
    margin: 135px 0 0 0;
    padding: 100px 0 150px 0;
    background: url(../images/service_bg.png) no-repeat center center / cover;
}
.service .tit h2 {
    display: none;
}
section.service .tit p {
    color: #fff;
}
.service .list ul  {
    display: flex;
    justify-content: space-between;
}
.service .list ul li {
    width: calc(33.33% - 16px);
    /* 100 / li의 개수(3) = 33.33%
       중간여백 총합(24*2) / li의 개수(3) = 48/3=16
       calc(33.33% - 16px) */
}
.service .list ul li a {
    display: block;
    height: 122px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.service .list ul li:hover a {
    transform: translate(-10px, -10px);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, .25);
    /* 오버시 이동하는 애니메이션을 주면 오버 범위가 변경되기 때문에 오류 발생함
       -> a가 이동하고, a를 감싸는 움직이지 않는 li에 오버를 줌 */
}
.service .list ul li a .inner {
    margin: 0 20px;
    padding: 33px 0 0 75px;
    position: relative;
}
.service .list ul li a .inner::before {
    position: absolute;
    left: 0;
    top: 30px;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.service .list ul li.esg a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_270' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_270)'%3E%3Cpath d='M30 47.5C30 43.6858 28.6137 40.3925 25.8412 37.62C23.0687 34.8479 19.7756 33.4619 15.9619 33.4619C15.9619 37.2756 17.3479 40.5687 20.12 43.3412C22.8925 46.1137 26.1858 47.5 30 47.5ZM30 34.6825C31.0354 34.6825 31.9 34.3356 32.5938 33.6419C33.2875 32.9481 33.6344 32.0835 33.6344 31.0481V30.7213C33.9356 30.955 34.2554 31.1304 34.5938 31.2475C34.9317 31.3646 35.314 31.4231 35.7406 31.4231C36.7756 31.4231 37.6481 31.0681 38.3581 30.3581C39.0681 29.6481 39.4231 28.7756 39.4231 27.7406C39.4231 26.9552 39.2373 26.27 38.8656 25.685C38.4935 25.1 37.9775 24.6825 37.3175 24.4325C37.9775 24.1825 38.4935 23.7652 38.8656 23.1806C39.2373 22.5956 39.4231 21.9104 39.4231 21.125C39.4231 20.0896 39.0681 19.2171 38.3581 18.5075C37.6481 17.7975 36.7756 17.4425 35.7406 17.4425C35.314 17.4425 34.9317 17.501 34.5938 17.6181C34.2554 17.7348 33.9356 17.9102 33.6344 18.1444V17.7694C33.6344 16.734 33.2875 15.8694 32.5938 15.1756C31.9 14.4819 31.0354 14.135 30 14.135C28.9646 14.135 28.1 14.4819 27.4063 15.1756C26.7125 15.8694 26.3656 16.734 26.3656 17.7694V18.1444C26.0644 17.9102 25.7446 17.7348 25.4062 17.6181C25.0683 17.501 24.686 17.4425 24.2594 17.4425C23.2244 17.4425 22.3519 17.7975 21.6419 18.5075C20.9319 19.2171 20.5769 20.0896 20.5769 21.125C20.5769 21.9104 20.7627 22.5956 21.1344 23.1806C21.5065 23.7652 22.0225 24.1825 22.6825 24.4325C22.0225 24.6825 21.5065 25.1 21.1344 25.685C20.7627 26.27 20.5769 26.9552 20.5769 27.7406C20.5769 28.7756 20.9319 29.6481 21.6419 30.3581C22.3519 31.0681 23.2244 31.4231 24.2594 31.4231C24.686 31.4231 25.0683 31.3646 25.4062 31.2475C25.7446 31.1304 26.0644 30.955 26.3656 30.7213V31.0481C26.3656 32.0835 26.7125 32.9481 27.4063 33.6419C28.1 34.3356 28.9646 34.6825 30 34.6825ZM30 28.8369C28.7725 28.8369 27.7317 28.416 26.8775 27.5744C26.0233 26.7331 25.5963 25.6858 25.5963 24.4325C25.5963 23.205 26.0233 22.1642 26.8775 21.31C27.7317 20.4558 28.7725 20.0288 30 20.0288C31.2275 20.0288 32.2683 20.4558 33.1225 21.31C33.9767 22.1642 34.4038 23.205 34.4038 24.4325C34.4038 25.6858 33.9767 26.7331 33.1225 27.5744C32.2683 28.416 31.2275 28.8369 30 28.8369ZM30 47.5C33.8142 47.5 37.1075 46.1137 39.88 43.3412C42.6521 40.5687 44.0381 37.2756 44.0381 33.4619C40.2244 33.4619 36.9312 34.8479 34.1587 37.62C31.3862 40.3925 30 43.6858 30 47.5ZM10.7694 53.75C9.50646 53.75 8.4375 53.3125 7.5625 52.4375C6.6875 51.5625 6.25 50.4935 6.25 49.2306V10.7694C6.25 9.50646 6.6875 8.4375 7.5625 7.5625C8.4375 6.6875 9.50646 6.25 10.7694 6.25H49.2306C50.4935 6.25 51.5625 6.6875 52.4375 7.5625C53.3125 8.4375 53.75 9.50646 53.75 10.7694V49.2306C53.75 50.4935 53.3125 51.5625 52.4375 52.4375C51.5625 53.3125 50.4935 53.75 49.2306 53.75H10.7694ZM10.7694 50H49.2306C49.4231 50 49.5994 49.9198 49.7594 49.7594C49.9198 49.5994 50 49.4231 50 49.2306V10.7694C50 10.5769 49.9198 10.4006 49.7594 10.2406C49.5994 10.0802 49.4231 10 49.2306 10H10.7694C10.5769 10 10.4006 10.0802 10.2406 10.2406C10.0802 10.4006 10 10.5769 10 10.7694V49.2306C10 49.4231 10.0802 49.5994 10.2406 49.7594C10.4006 49.9198 10.5769 50 10.7694 50Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li.inv a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_258' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_258)'%3E%3Cpath d='M18.5 39.1106L26.125 31.5094L31.125 36.5094L40.625 27.0481V31.875H44.375V20.625H33.125V24.375H37.9519L31.125 31.2019L26.125 26.2019L15.8894 36.5L18.5 39.1106ZM13.2694 51.25C12.0065 51.25 10.9375 50.8125 10.0625 49.9375C9.1875 49.0625 8.75 47.9935 8.75 46.7306V13.2694C8.75 12.0065 9.1875 10.9375 10.0625 10.0625C10.9375 9.1875 12.0065 8.75 13.2694 8.75H46.7306C47.9935 8.75 49.0625 9.1875 49.9375 10.0625C50.8125 10.9375 51.25 12.0065 51.25 13.2694V46.7306C51.25 47.9935 50.8125 49.0625 49.9375 49.9375C49.0625 50.8125 47.9935 51.25 46.7306 51.25H13.2694ZM13.2694 47.5H46.7306C46.9231 47.5 47.0994 47.4198 47.2594 47.2594C47.4198 47.0994 47.5 46.9231 47.5 46.7306V13.2694C47.5 13.0769 47.4198 12.9006 47.2594 12.7406C47.0994 12.5802 46.9231 12.5 46.7306 12.5H13.2694C13.0769 12.5 12.9006 12.5802 12.7406 12.7406C12.5802 12.9006 12.5 13.0769 12.5 13.2694V46.7306C12.5 46.9231 12.5802 47.0994 12.7406 47.2594C12.9006 47.4198 13.0769 47.5 13.2694 47.5Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li.rec a .inner::before {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_22_232' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='60' height='60'%3E%3Crect width='60' height='60' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_22_232)'%3E%3Cpath d='M13.2694 51.25C12.0065 51.25 10.9375 50.8125 10.0625 49.9375C9.1875 49.0625 8.75 47.9935 8.75 46.7306V13.2694C8.75 12.0065 9.1875 10.9375 10.0625 10.0625C10.9375 9.1875 12.0065 8.75 13.2694 8.75H24.3944C24.5931 7.34625 25.2133 6.16208 26.255 5.1975C27.2967 4.2325 28.545 3.75 30 3.75C31.455 3.75 32.7033 4.2325 33.745 5.1975C34.7867 6.16208 35.4069 7.34625 35.6056 8.75H46.7306C47.9935 8.75 49.0625 9.1875 49.9375 10.0625C50.8125 10.9375 51.25 12.0065 51.25 13.2694V46.7306C51.25 47.9935 50.8125 49.0625 49.9375 49.9375C49.0625 50.8125 47.9935 51.25 46.7306 51.25H13.2694ZM30 10.8656C30.5417 10.8656 30.9896 10.6885 31.3438 10.3344C31.6979 9.98021 31.875 9.53229 31.875 8.99062C31.875 8.44896 31.6979 8.00104 31.3438 7.64687C30.9896 7.29271 30.5417 7.11562 30 7.11562C29.4583 7.11562 29.0104 7.29271 28.6562 7.64687C28.3021 8.00104 28.125 8.44896 28.125 8.99062C28.125 9.53229 28.3021 9.98021 28.6562 10.3344C29.0104 10.6885 29.4583 10.8656 30 10.8656ZM12.5 45.1056C14.75 42.8973 17.3646 41.1577 20.3438 39.8869C23.3229 38.616 26.5417 37.9806 30 37.9806C33.4583 37.9806 36.6771 38.616 39.6562 39.8869C42.6354 41.1577 45.25 42.8973 47.5 45.1056V13.2694C47.5 13.0769 47.4198 12.9006 47.2594 12.7406C47.0994 12.5802 46.9231 12.5 46.7306 12.5H13.2694C13.0769 12.5 12.9006 12.5802 12.7406 12.7406C12.5802 12.9006 12.5 13.0769 12.5 13.2694V45.1056ZM30 32.5963C32.2563 32.5963 34.1746 31.8062 35.755 30.2262C37.335 28.6458 38.125 26.7275 38.125 24.4712C38.125 22.215 37.335 20.2967 35.755 18.7163C34.1746 17.1363 32.2563 16.3462 30 16.3462C27.7437 16.3462 25.8254 17.1363 24.245 18.7163C22.665 20.2967 21.875 22.215 21.875 24.4712C21.875 26.7275 22.665 28.6458 24.245 30.2262C25.8254 31.8062 27.7437 32.5963 30 32.5963ZM16.1056 47.5H43.8944V46.9712C41.9198 45.2083 39.754 43.8942 37.3969 43.0287C35.0394 42.1633 32.5737 41.7306 30 41.7306C27.4583 41.7306 25.0048 42.1594 22.6394 43.0169C20.274 43.8744 18.096 45.1765 16.1056 46.9231V47.5ZM30 28.8463C28.7979 28.8463 27.7683 28.4175 26.9112 27.56C26.0537 26.7029 25.625 25.6733 25.625 24.4712C25.625 23.2692 26.0537 22.2396 26.9112 21.3825C27.7683 20.525 28.7979 20.0962 30 20.0962C31.2021 20.0962 32.2317 20.525 33.0887 21.3825C33.9462 22.2396 34.375 23.2692 34.375 24.4712C34.375 25.6733 33.9462 26.7029 33.0887 27.56C32.2317 28.4175 31.2021 28.8463 30 28.8463Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.service .list ul li a .inner h3 {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}

@media screen and (max-width:1024px) {
    .service .list ul li a .inner h3 {
        font-size: 20px;
        letter-spacing: 0.01em;
        margin: 0 0 5px 0;
        white-space: nowrap;
    }
}
@media screen and (max-width:768px) {
    .service {
        margin: 50px 0 0 0;
        padding: 25px 0 50px 0;
    }
    .service .list ul  {
        display: block;
    }
    .service .list ul li {
        width: auto;
        margin: 5px;
    }
    .service .list ul li a {
        height: 76px;
    }
    .service .list ul li a .inner {
        padding: 19px 0 0 60px;
    }
    .service .list ul li a .inner::before {
        position: absolute;
        left: 0;
        top: 13px;
        width: 50px;
        height: 50px;
    }
    .service .list ul li a .inner h3 {
        font-size: 15px;
        margin: 0 0 5px 0;
    }
    .service .list ul li:hover a {
        transform: translate(0, 0);
        box-shadow: none;
    }
}

