@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual h2 {
    display: none;
}
.visual .swiper .swiper-wrapper {
    position: relative;
}
.visual .swiper ul li .tit {
    position: absolute;
    left: 10%;
    top: 30%;
    color: var(--txt-color-white);
}
.visual .swiper ul li .tit strong {
    font-size: 25px;
    margin-bottom: 20px;
}
.visual .swiper ul li .tit h3 {
    font-size: 75px;
}